<!doctype html>
<html>
<head>

<link href="../css/default/main.css" media="screen" rel="stylesheet" type="text/css" />


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

</head>
<body>




	<div class="digiseller-preloader" style="display:none;">Загрузка...</div>
	
	
			<div class="digiseller-logo">
				<img src="../img/stockLogo.png">
			</div>

			<div id="digiseller-search">
				<form>
					<input type="text" value="" class="digiseller-search-input" />
					<input type="submit" class="digiseller-search-go" value=" " />
				</form>
			</div>
			
			<div class="digiseller-topmenu">
				<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
				<a href="#" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
				<a href="#" title="Контакты" class="digiseller-contactslnk">Контакты</a>
			</div>
	
		<div class="digiseller-category">
			<ul>
				<li><a href="#" title="">Супер мега нереально длинное название категории <span>(10)</span></a></li>
				<li><a href="#" title="">Название категории 1ур <span>(32)</span></a></li>
				<li>
					<ul>
						<li><a href="#" title="">Название подкатегории <span>(71)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(15)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(3)</span></a>
							<ul>
								<li><a href="#" title="">Название категории <span>(4)</span></a></li>
								<li class="digiseller-category-active"><a href="#" title="">Мы находимся тут <span>(32)</span></a></li>
								<li><a href="#" title="">Название категории <span>(0)</span></a></li>
								<li><a href="#" title="">Название категории <span>(31)</span></a></li>
							</ul>
						</li>	
						<li><a href="#" title="">Название категории <span>(9)</span></a></li>
						<li><a href="#" title="">Название категории <span>(12)</span></a></li>
						<li><a href="#" title="">Название категории <span>(5)</span></a></li>
						<li><a href="#" title="">Название категории <span>(21)</span></a></li>
					</ul>
				</li>
				<li><a href="#" title="">Название категории <span>(75)</span></a></li>
				<li><a href="#" title="">Название категории <span>(34)</span></a></li>
				<li><a href="#" title="">Название категории <span>(26)</span></a></li>
				<li><a href="#" title="">Название категории <span>(2)</span></a></li>
				<li><a href="#" title="">Название категории <span>(51)</span></a></li>
			</ul>
		</div>
		



		<div id="digiseller-main"  class="digiseller-main">

			<!-- Список товаров -->
			
	<div class="digiseller-productpage">
					
				
				
				<div class="digiseller-options">
				
					<span class="digiseller-social">
						<a href="#" title="FaceBook" class="digiseller-social-fb"></a>
						<a href="#" title="вКонтакте" class="digiseller-social-vk"></a>
						<a href="#" title="twitter" class="digiseller-social-tw"></a>
						<a href="#" title="Webmoney" class="digiseller-social-wm"></a>
					</span>
					
				
					<div id="digiseller-currency">
						<span>Валюта:</span>
								<select>
								<option value="RUR">RUR</option>
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
								<option value="UAH">UAH</option>
								</select>
					</div>
					
				</div>
				
				
				
				<div class="digiseller-breadcrumbs">
				<a href="/" title="Магазин">Магазин</a> > <a href="#" title="Категория">Категория</a> > <a href="#" title="Подкатегория">Подкатегория</a> > <a href="#" title="Товар">Товар</a>
				</div>	
				
								
		<div class="digiseller-product-details">
					
			
				
					
					
					<div class="digiseller-product-left">
						<a href="#" title="Увеличить">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROLQ_ABctDFkzKOOsSHhfACNIVc2GaVU3uZiBFShd_hVD08wtA" alt="название товара">
						</a>
						
						
						
						
						
						<div class="digiseller-left-thumbs">
							<a href="" title="#" class="digiseller-videothumb"> <!-- если видос, добавляем этот класс -->
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROLQ_ABctDFkzKOOsSHhfACNIVc2GaVU3uZiBFShd_hVD08wtA">
								<span></span><!-- спан со значком плэй -->
							</a>
							

							
							<a href="" title="#">
							<img src="http://i041.radikal.ru/0803/37/40298309f106.jpg">
								<span></span>
							</a>
							
							<a href="" title="#" class="digiseller-videothumb">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROLQ_ABctDFkzKOOsSHhfACNIVc2GaVU3uZiBFShd_hVD08wtA">
								<span></span>
							</a>
							
							<a href="" title="#">
								<img src="http://i041.radikal.ru/0803/37/40298309f106.jpg">
								<span></span>
							</a>
							
							<a href="" title="#">
								<img src="http://i041.radikal.ru/0803/37/40298309f106.jpg">
								<span></span>
							</a>
							
							<a href="" title="#" class="digiseller-videothumb">
								<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROLQ_ABctDFkzKOOsSHhfACNIVc2GaVU3uZiBFShd_hVD08wtA">
								<span></span>
							</a>
						</div>
						
						
					</div>
					
					
					

					
					
					
					<div class="digiseller-product-right">


							
<div class="digiseller-productBuy">
								
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                		 <!-- CALCULATOR FORM -->		
<div class="digiseller-calc">


    <span class="digiseller-prod-cost">19'995 Рублей</span>	 <!-- убираем если калькулятор -->

    <div class="digiseller-calc-quanity">  <!-- убираем если выводится цена-->
        <div class="digiseller-calc-left">
                 <span>заплачу <b>руб</b>.</span><br />
                 <input type="text" id="abcde" value="10000" />   
        </div> 

           <div class="digiseller-calc-center">
               <span class="digiseller-calc-arrowRight"></span> <!-- в этом спане стрелочка, может иметь классы  digiseller-calc-arrowLeft / digiseller-calc-arrowRight / digiseller-calc-arrowLeftRight -->
           </div>
        
        
        <div class="digiseller-calc-right">
                 <span>получу <b>GOLD</b></span><br />
                 <!--input type="text" id="abcdef" value="9999999" /-->
                 
                 <select style="width:100%">
                    <option>10000</option>
                    <option>20000</option>
                    <option>50000</option>
                    <option>100000</option>
                 </select>
        </div>
        
        <div class="digiseller-calc-right-value">100k</div>
    </div>
    
    <div class="digiseller-calc-limit"> <!-- убираем если выводится цена--> <!-- если косяк,   addClass('digiseller-calc-limit-error')   --> 
        <span>Минимум 2000000</span>
    </div>

   
    <div class="digiseller-calc-method">
        <span>оплата через:</span><br />
        <select>
             <option class="digiseller-calc-option digiseller-calc-wmr">WebMoney (RUR)</option>
        </select>
     </div>

     
      <div class="digiseller-calc-confirmation"> <!-- если косяк,   addClass('digiseller-calc-confirmation-error')   -->
        <input type="checkbox" id="abcdefg" />
        с «<a href="#">Правилами покупки товаров</a>» ознакомлен и согласен.
     </div>
     
     <div class="digiseller-calc-buy">
        <a class="digiseller-buyButton" data-id="602427" data-action="buy">Купить</a>
             <!-- или digiseller-buyButton-empty -->
     </div>


</div>
<!-- end ... -->







<br />




			
                                
                             </div>   
                                
                                
                                
                               

							
							
							<div>
							<a class="digiseller-prod-name" title="">This is a product name
								<span class="digiseller-labellider">Лидер продаж!</span>
								
								<!-- (смена класса и текста)
								digiseller-labellider (лидер)
								digiseller-labelaction (акция)
								digiseller-labelnew (новинка)
								-->
								
							</a>
							</div>

							

							<div class="digiseller-prod-info">
								
								<span class="digiseller-bold">Товар загружен 05.04.2012 12:53:48</span>
								<div class="digiseller-prodinfoseparator"></div>
								<span class="digiseller-bold">Количество продаж/возвратов:</span> 621/2<br />
								
							</div>
							
							

							<table class="digiseller-discounttable1">
							
								<tr class="digiseller-discounttabbe-head">	
									<td>при покупке</td>
									<td>скидка</td>
									<td>цена за 1 USD</td>
								</tr>

								<tr>	
									<td>от 2 USD</td>
									<td>0%</td>
									<td>2 $</td>
								</tr>			

								<tr>	
									<td>от 2 USD</td>
									<td>0%</td>
									<td>738 $</td>
								</tr>

								<tr>	
									<td>от 2 USD</td>
									<td>0%</td>
									<td>2 $</td>
								</tr>
								
								<tr>	
									<td>от 2 USD</td>
									<td>0%</td>
									<td>2 $</td>
								</tr>

								<tr>	
									<td>от 2 USD</td>
									<td>0%</td>
									<td>20'000 $</td>
								</tr>								
							
							</table>
							
						
							

							<div class="digiseller-discounttable2">
							<span >На товар предоставляется скидка постоянным покупателям.</span>
							* Если общая сумма покупок больше чем:
							<ul>
								<li>1000$ — Скидка 10%</li>
								<li>500$ — Скидка 5%</li>
								<li>100$ — Скидка 1%</li>
								<li>50$ — Наценка 10%</li>
							</ul>
							</div>
							
<span class="digiseller-grey"></span>


					</div><!-- end right part -->
				
		</div>			
					
					
					
					
					
					
					
					
					
					
					








                
					
		<div class="digiseller-both"></div>
		<div>
							
							
							
			<div class="digiseller-productdetails-tabs">
				<a class="digiseller-activeTab">Описание</a><a>Отзывы (24)</a>
			</div>
								
							
							
				<div class="digiseller-reviews_content">  <!-- содержимое вкладки с отзывами-->

				<div class="digiseller-options">
					<div class="digiseller-filtersort">
						<span>Показать:</span>
						<select>
						<option>Все отзывы</option>
						<option>Положительные</option>
						<option>Отрицательные</option>
						</select>
					</div>		
				</div>

					<!-- container digiseller-comments -->		
					<div class="digiseller-comments">				
							

					<div class="digiseller-review">
						<span class="digiseller-reviewdate">21.04.2013 23:46</span>
						<p>
						<span class="digiseller-reviewgood">+</span>
						Джохар Царнаев переведен из больницы в тюрьму 
						</p>
						
						<div class="digiseller-reviewcomment">
							<span class="digiseller-reviewcommentarrow">▲</span>
							<span class="digiseller-reviewcommentadmintxt">
								<span class="digiseller-reviewdate">Комментарий администратора</span>
								Доставка заказа осуществлена в срок.
							</span>
						</div>
						
						
					</div>
					<div class="digiseller-both"></div>

					
					
					
					<div class="digiseller-review">
						<span class="digiseller-reviewdate">21.04.2013 23:46</span>
						<p>
						<span class="digiseller-reviewbad">-</span>
						Суд отпустил Навального в отпуск на Волгу Депутаты Госдумы пообещали пенсионерке Алевтине Рапацевич, которая пожаловалась президенту Владимиру Путину во время "прямой линии" на то, что ей трудно попасть на прием к главе администрации, принять законопроект по контролю за управляющими компаниями до конца весенней сессии. 
						</p>

						<div class="digiseller-reviewcomment">
							<span class="digiseller-reviewcommentarrow">▲</span>
							<span class="digiseller-reviewcommentadmintxt">
								<span class="digiseller-reviewdate">Комментарий администратора</span>
								навалились на Навального нахалы навалом и наваляли 
							</span>
						</div>


						</div>
					<div class="digiseller-both"></div>					
			
			
			

			
					<div class="digiseller-review">
						<span class="digiseller-reviewdate">21.04.2013 23:46</span>
						<p>
						<span class="digiseller-reviewgood">+</span>
						Депутаты Госдумы пообещали пенсионерке Алевтине Рапацевич, которая пожаловалась президенту Владимиру Путину во время "прямой линии" на то, что ей трудно попасть на прием к главе администрации, принять законопроект по контролю за управляющими компаниями до конца весенней сессии.
						</p>
						
						<div class="digiseller-reviewcomment">
							<span class="digiseller-reviewcommentarrow">▲</span>
							<span class="digiseller-reviewcommentadmintxt">
								<span class="digiseller-reviewdate">Комментарий администратора</span>
								"Я могу сказать одно: это мой товарищ, с которым мы работали вместе, добивались продвижения в реформах в самое тяжелое время", - откликнулся на телефонный звонок "РГ" по поводу печальной новости научный руководитель НИУ "Высшая школа экономики" Евгений Ясин.
							</span>
						</div>
						
					</div>
					<div class="digiseller-both"></div>
					
					<div class="digiseller-review">
						<span class="digiseller-reviewdate">21.04.2013 23:46</span>
						<p>
						<span class="digiseller-reviewgood">+</span>
						Прокуратура начала проверку националистической организации "Русские". Об этом сообщил в интервью "Русской службе новостей" лидер движения Дмитрий Дём
						</p>
					</div>
					
						

					
					
					
					</div><!--end. digiseller-comments-->
					
					
					
						<div class="digiseller-both"></div> 
						
						<div class="digiseller-paging"> <!-- Показываем только в табе с отзывами -->
							<a href="#">1</a>
							<a class="digiseller-activepage">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<span>...</span>
							<a href="#">10</a>
							<a href="#">11</a>
							<a href="#">12</a>
							<a href="#">13</a>
						</div>		
									
									

										
										
				</div><!-- end содержимое вкладки с отзывами-->

				
		</div>
					
					
					
					
					
					
					
					
					
					
					
					
					
					
	
									
									
									
					
		
			
			
			
		</div>



<div class="digiseller-both"></div>
</body>
</html>