<!doctype html>
<html>
<head>

	<link href="../css/default/main.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>


	
	<div class="digiseller-preloader">Загрузка...</div>
	
			<div class="digiseller-logo">
				<img src="../img/stockLogo.png">
			</div>

			<div id="digiseller-search">
				<form>
					<input type="text" value="" class="digiseller-search-input" />
					<input type="submit" class="digiseller-search-go" value=" " />
				</form>
			</div>
			
			<div class="digiseller-topmenu">
				<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
				<a href="#" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
				<a href="#" title="Контакты" class="digiseller-contactslnk">Контакты</a>
			</div>
		

		
		
		
	
				<div class="digiseller-category">
			<ul>
				<li><a href="#" title="">Супер мега нереально длинное название категории <span>(10)</span></a></li>
				<li><a href="#" title="">Название категории 1ур <span>(32)</span></a></li>
				<li>
					<ul>
						<li><a href="#" title="">Название подкатегории <span>(71)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(15)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(3)</span></a>
							<ul>
								<li><a href="#" title="">Название категории <span>(4)</span></a></li>
								<li class="digiseller-category-active"><a href="#" title="">Мы находимся тут <span>(32)</span></a></li>
								<li><a href="#" title="">Название категории <span>(0)</span></a></li>
								<li><a href="#" title="">Название категории <span>(31)</span></a></li>
							</ul>
						</li>	
						<li><a href="#" title="">Название категории <span>(9)</span></a></li>
						<li><a href="#" title="">Название категории <span>(12)</span></a></li>
						<li><a href="#" title="">Название категории <span>(5)</span></a></li>
						<li><a href="#" title="">Название категории <span>(21)</span></a></li>
					</ul>
				</li>
				<li><a href="#" title="">Название категории <span>(75)</span></a></li>
				<li><a href="#" title="">Название категории <span>(34)</span></a></li>
				<li><a href="#" title="">Название категории <span>(26)</span></a></li>
				<li><a href="#" title="">Название категории <span>(2)</span></a></li>
				<li><a href="#" title="">Название категории <span>(51)</span></a></li>
			</ul>
		</div>
		
		<div id="digiseller-main" class="digiseller-main">
			

			<!-- Список товаров -->
			<div class="digiseller-contacts">
			
			<h1>Контактная информация</h1>
			
				<div class="digiseller-breadcrumbs">
				<a href="/" title="Магазин">Магазин</a> > <a href="#" title="Контактная информация">Контактная информация</a>
				</div>
				
				<div class="digiseller-contacts-block">
					<span class="digiseller-contacts-label">Контактное лицо</span>: <span class="digiseller-contacts-value">Солнцев Юрий Николаевич</span><br />
					<span class="digiseller-contacts-label">e-Mail</span>: <span class="digiseller-contacts-value"><a href="mailto:storemail@storename.com">storemail@storename.com</a></span><br />
					<span class="digiseller-contacts-label">ICQ</span>: <span class="digiseller-contacts-value">123456789</span><br />
					<span class="digiseller-contacts-label">Skype</span>: <span class="digiseller-contacts-value">storename</span><br />
					<span class="digiseller-contacts-label">wmid</span>: <span class="digiseller-contacts-value">123456789098</span><br />
					<span class="digiseller-contacts-label">Телефон</span>: <span class="digiseller-contacts-value">+7 (499) 321 12 15</span><br />
				</div>			
	
				
			</div>
			
			
			
			
			
			<!-- end.Список товаров -->
			
			
		</div>

<div class="digiseller-both"></div>
</body>
</html>