
<style>
  .digiseller-product-left {margin-top:4px}
  .digiseller-product-right {width:auto;}
  .digiseller-left-thumbs {margin-left:20px; width:auto; vertical-align:top;}
  
  .digiseller-left-thumbs a img {margin-top:0; border:0!important; height:44px; width:auto; border:1px solid #ccc!important;}
  .digiseller-left-thumbs a.digiseller-left-thumbs-active img {border:1px solid red!important} /* #0b6678 */
  
  .digiseller-left-thumbs div {position:relative;}
  .digiseller-left-thumbs div a {display:inline-block;}
  
  .digiseller-image-view {margin-bottom:15px}
  .digiseller-left-thumbs a:nth-child(3n) {padding-right:4px!important}
  
  .digiseller-videothumb span {
		background: url("//www.digiseller.ru/shop/img/play_icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		display: block !important;
		height: 40px;
		margin-left: 10px;
		margin-top: -42px;
		position: absolute;
		transition: all 0.2s ease 0s;
		width: 40px;
		z-index: 999;
	} 
	
	.digiseller-videothumb span:hover {
		transform: scale(0) translate(0);
	}
</style>  



<div class="digiseller-product-left">
  
  
  
  
	<a data-type="img" id="digiseller-article-img-preview" target="_blank" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG">
		<img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;h=200">
	</a>
  
	<div id="digiseller-article-thumbs" class="digiseller-left-thumbs">
  
		<div class="digiseller-image-view">
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
			<!-- -добавлен класс при наведении или клике -->
			<a class="digiseller-left-thumbs-active" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG" data-type="img"><img src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1" alt=""></a>
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
			<a data-type="img" href="http://www.digiseller.ru/preview/18728/p1_30412173155727.JPEG"><img alt="" src="//graph.digiseller.ru/img.ashx?idp=383759&amp;maxlength=80&amp;crop=1"></a>
		</div>  
		
		<div class="digiseller-video-view">
			<a data-type="youtube" data-id="4f2Zky_YyyQ" class="digiseller-videothumb"><img alt="" src="//img.youtube.com/vi/4f2Zky_YyyQ/1.jpg"><span></span></a>
			<a data-type="youtube" data-id="4f2Zky_YyyQ" class="digiseller-videothumb"><img alt="" src="//img.youtube.com/vi/4f2Zky_YyyQ/1.jpg"><span></span></a>
		</div>
    
	</div>
	
	
	
	
	
	
  
</div>







