<!doctype html>
<html>
<head>

	<link href="../css/default/main.css" media="screen" rel="stylesheet" type="text/css" />

	
</head>
<body>



	
	<div class="digiseller-preloader" style="display:none;">Загрузка...</div>
	
			
			<div class="digiseller-logo">
				<img src="../img/stockLogo.png">
			</div>

			<div id="digiseller-search">
				<form>
					<input type="text" value="" class="digiseller-search-input" />
					<input type="submit" class="digiseller-search-go" value=" " />
				</form>
			</div>
			
			<div class="digiseller-topmenu">
				<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
				<a href="#" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
				<a href="#" title="Контакты" class="digiseller-contactslnk">Контакты</a>
			</div>	




	
		<div class="digiseller-category">
			<ul>
				<li><a href="#" title="">Супер мега нереально длинное название категории <span>(10)</span></a></li>
				<li><a href="#" title="">Название категории 1ур <span>(32)</span></a></li>
				<li>
					<ul>
						<li><a href="#" title="">Название подкатегории <span>(71)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(15)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(3)</span></a>
							<ul>
								<li><a href="#" title="">Название категории <span>(4)</span></a></li>
								<li class="digiseller-category-active"><a href="#" title="">Мы находимся тут <span>(32)</span></a></li>
								<li><a href="#" title="">Название категории <span>(0)</span></a></li>
								<li><a href="#" title="">Название категории <span>(31)</span></a></li>
							</ul>
						</li>	
						<li><a href="#" title="">Название категории <span>(9)</span></a></li>
						<li><a href="#" title="">Название категории <span>(12)</span></a></li>
						<li><a href="#" title="">Название категории <span>(5)</span></a></li>
						<li><a href="#" title="">Название категории <span>(21)</span></a></li>
					</ul>
				</li>
				<li><a href="#" title="">Название категории <span>(75)</span></a></li>
				<li><a href="#" title="">Название категории <span>(34)</span></a></li>
				<li><a href="#" title="">Название категории <span>(26)</span></a></li>
				<li><a href="#" title="">Название категории <span>(2)</span></a></li>
				<li><a href="#" title="">Название категории <span>(51)</span></a></li>
			</ul>
		</div>
		
		<div id="digiseller-main" class="digiseller-main">
			
				<div class="digiseller-options">
						<div class="digiseller-sortby">
							<span>Сортировать по:</span>
								<select>
								<option>названию от А до Я</option>
								<option>названию от Я до А</option>
								<option>цене от низкой до высокой</option>
								<option>цене от высокой до низкой</option>
								</select>
						</div>		
						<div id="digiseller-currency">
							<span>Валюта:</span>
								<select>
								<option value="RUR">RUR</option>
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
								<option value="UAH">UAH</option>
								</select>
						</div>
				</div>
				
				<div class="digiseller-breadcrumbs">
				<a href="/" title="Магазин">Магазин</a> > <a href="#" title="Категория">Категория</a> > <a href="#" title="Подкатегория">Подкатегория</a>
				</div>
			
			
			
			
			
			
			
			
			
			<!-- Список Категорий -->
			<div class="digiseller-category-blocks">

			
				<div>
					<a href="#" title=""> 	
						<img src="http://files.books.ru/pic/864001-865000/864708/000864708_1.jpg" style="width:170px;"> <!-- width:170px - ширина картинки категории, заданная в админке  -->
					</a>
					<a href="#" title="" style="max-width:170px;"> <!-- тоже самое -->
						Руководство по jQuery<span>&nbsp;(5)</span>
					</a>
				</div>				

				
				<div>
					<a href="#" title=""> 
						<img src="http://pixweb.ru/wp-content/uploads/2011/10/html5_dlja_professionalov-400x584.jpg" style="width:170px;">
					</a>	
					<a href="#" title="" style="max-width:170px;"> 		
						HTML5 для профессионалов<span>&nbsp;(12)</span>
					</a>
				</div>
		
				<div>
					<a href="#" title="" style="max-width:170px;"> 		
						<img src="http://www.houseput.com/img/Books/professional-css-cascading-style-sh.jpg" style="width:170px;">
					</a>
					<a href="#" title=""> 	
						CSS for Web Design<span>&nbsp;(17)</span>
					</a>
				</div>
				
				
				<div>
					<a href="#" title=""> 	
						<img src="http://pixweb.ru/wp-content/uploads/2011/10/html5_dlja_professionalov-400x584.jpg" style="width:170px;">
					</a>
					<a href="#" title="" style="max-width:170px;"> 		
						HTML5 для профессионалов<span>&nbsp;(12)</span>
					</a>
				</div>

				<div>
					<a href="#"> 
						<img src="http://www.houseput.com/img/Books/professional-css-cascading-style-sh.jpg" style="width:170px;">
					</a>
					<a href="#" title="" style="max-width:170px;"> 		
						CSS for Web Design<span>&nbsp;(6)</span>
					</a>
				</div>
		





				<div>
					<a href="#"> 
						<img src="http://www.houseput.com/img/Books/professional-css-cascading-style-sh.jpg" style="width:170px;">
					</a>
					<a href="#" title="" style="max-width:170px;"> 		
						CSS for Web Design<span>&nbsp;(6)</span>
					</a>
				</div>
				
				<div>
					<a href="#" title=""> 
						<img src="http://pixweb.ru/wp-content/uploads/2011/10/html5_dlja_professionalov-400x584.jpg" style="width:170px;">
					</a>	
					<a href="#" title="" style="max-width:170px;"> 		
						HTML5 для профессионалов<span>&nbsp;(12)</span>
					</a>
				</div>

				<div>
					<a href="#" title=""> 	
						<img src="http://files.books.ru/pic/864001-865000/864708/000864708_1.jpg" style="width:170px;">
					</a>
					<a href="#" title="" style="max-width:170px;"> 		
						Руководство по jQuery<span>&nbsp;(5)</span>
					</a>
				</div>				
				
	
			</div>
			
			<div class="digiseller-both"></div>
			
			

			
			
			<!-- Список товаров -->
			<div class="digiseller-productList">
			
			

					
				<div class="digiseller-options">
						<div class="digiseller-sortby">
							<span>Сортировать по:</span>
								<select>
								<option>названию от А до Я</option>
								<option>названию от Я до А</option>
								<option>цене от низкой до высокой</option>
								<option>цене от высокой до низкой</option>
								</select>
						</div>		

						<div id="digiseller-currency">
							<span>Валюта:</span>
								<select>
								<option value="RUR">RUR</option>
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
								<option value="UAH">UAH</option>
								</select>
						</div>
				</div>
			
					
					


					

					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">от 1 235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-buyButton">Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:60px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls
								<span class="digiseller-labelnew">Новинка</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой. Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз<br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>








					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">от 1 235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-buyButton">Купить</a>
						</div>	
						
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:140px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls
								<span class="digiseller-labelnew">Новинка</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз<br>
						
							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>







					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">от 1 235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-buyButton">Купить</a>
						</div>	
						
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:200px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls
								<span class="digiseller-labelnew">Новинка</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз<br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>					
					
						<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">от 1 235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-buyButton">Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls
								<span class="digiseller-labelnew">Новинка</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз<br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>

					<div class="digiseller-both"></div>
					
						<div class="digiseller-paging">
							<a href="#">1</a>
							<a class="digiseller-activepage">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<span>...</span>
							<a href="#">10</a>
							<a href="#">11</a>
							<a href="#">12</a>
							<a href="#">13</a>
							
							<div class="digiseller-pager-rows">
								<span>Товаров на странице:</span>
								<select>
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="100">100</option>
								</select>
							</div>
							
						</div>
					
					
			</div>
			<!-- end.Список товаров -->
			
			
		</div>


</body>
</html>