<!doctype html>
<html>
<head>

	<link href="../css/default/main.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>


	<div class="digiseller-preloader" style="display:none;">Загрузка...</div>
	
			<div class="digiseller-logo">
				<img src="../img/stockLogo.png">
			</div>

			<div id="digiseller-search">
				<form>
					<input type="text" value="" class="digiseller-search-input" />
					<input type="submit" class="digiseller-search-go" value=" " />
				</form>
			</div>
			
			<div class="digiseller-topmenu">
				<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
				<a href="#" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
				<a href="#" title="Контакты" class="digiseller-contactslnk">Контакты</a>
			</div>
		

	
		<div class="digiseller-category">
			<ul>
				<li><a href="#" title="">Супер мега нереально длинное название категории <span>(10)</span></a></li>
				<li><a href="#" title="">Название категории 1ур <span>(32)</span></a></li>
				<li>
					<ul>
						<li><a href="#" title="">Название подкатегории <span>(71)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(15)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(3)</span></a>
							<ul>
								<li><a href="#" title="">Название категории <span>(4)</span></a></li>
								<li class="digiseller-category-active"><a href="#" title="">Мы находимся тут <span>(32)</span></a></li>
								<li><a href="#" title="">Название категории <span>(0)</span></a></li>
								<li><a href="#" title="">Название категории <span>(31)</span></a></li>
							</ul>
						</li>	
						<li><a href="#" title="">Название категории <span>(9)</span></a></li>
						<li><a href="#" title="">Название категории <span>(12)</span></a></li>
						<li><a href="#" title="">Название категории <span>(5)</span></a></li>
						<li><a href="#" title="">Название категории <span>(21)</span></a></li>
					</ul>
				</li>
				<li><a href="#" title="">Название категории <span>(75)</span></a></li>
				<li><a href="#" title="">Название категории <span>(34)</span></a></li>
				<li><a href="#" title="">Название категории <span>(26)</span></a></li>
				<li><a href="#" title="">Название категории <span>(2)</span></a></li>
				<li><a href="#" title="">Название категории <span>(51)</span></a></li>
			</ul>
		</div>
		
		<div id="digiseller-main" class="digiseller-main"">
			
				<div class="digiseller-options">
					
						<div class="digiseller-sortby">
							По запросу&nbsp;<span class="digiseller-bold">Клара и компания</span>&nbsp;найдено товаров:&nbsp;<span class="digiseller-bold">6</span>
						</div>		

						<div id="digiseller-currency">
							<span>Валюта:</span>
								<select>
								<option value="RUR">RUR</option>
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
								<option value="UAH">UAH</option>
								</select>
						</div>
					
				</div>
				
				<div class="digiseller-breadcrumbs">
				<a href="/" title="Магазин">Магазин</a> > <a href="#" title="Поиск">Поиск</a>
				</div>
			
			
			<!-- Список товаров -->
			<div class="digiseller-productList">
			
			

					
					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">1'235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-article-buybtn" />Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:150px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls
								<span class="digiseller-labellider">Лидер продаж!</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз</br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>
					
					




					
					
					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">1'235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-article-buybtn" />Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:50px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls (Сериал 2011-2012)
								<span class="digiseller-labellider">Лидер продаж!</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз</br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>					
					
					
					
			


					
					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">1'235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-article-buybtn" />Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:100px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls (Сериал 2011-2012)
								<span class="digiseller-labellider">Лидер продаж!</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз</br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>


<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">1'235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-article-buybtn" />Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:150px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls
								<span class="digiseller-labellider">Лидер продаж!</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз</br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>
					
					




					
					
					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">1'235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-article-buybtn" />Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:50px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls (Сериал 2011-2012)
								<span class="digiseller-labellider">Лидер продаж!</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз</br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>					
					
					
					
			


					
					<div class="digiseller-product">

						<div class="digiseller-pricelabel">
							<span class="digiseller-article-cost">1'235</span>
							<span class="digiseller-currency">Рублей</span>
							<a class="digiseller-article-buybtn" />Купить</a>
						</div>	
						
						
					
						<div class="digiseller-article-img">
							<a class="" href="#">
							<img alt="" src="http://upload.wikimedia.org/wikipedia/ru/0/07/StarCraft_II.jpg" style="width:100px;">
							</a>
						</div>
						
						<div class="digiseller-browseProdTitle">
							<a href="#" title="">Клара и Варвара / 2 Broke Girls (Сериал 2011-2012)
								<span class="digiseller-labellider">Лидер продаж!</span>
							</a>
							<p>
							Комедия о двух девушках, которые работают официантками в забегаловке, и которых объединяет общая мечта – открыть успешный бизнес. Конечно, как только они найдут деньги для этого. Колкая, знающая жизнь Макс работает на двух работах только чтобы свести концы с концами. Одна из этих работ – ночная смена в ретро-закусочной Вильямсбург. Утонченная Кэролайн – бывшая принцесса с трастовым фондом, которой настолько не повезло, что волей-неволей пришлось стать официанткой.
							<br>Автор идеи: Джон Фортенберри, Джеймс Берроуз</br>
						

							<br/>
								<a class="digiseller-product-details" href="#" title="Подробнее">Подробнее »</a>
							</p>
						</div>

					</div>






					

					<div class="digiseller-both"></div>
					
						<div class="digiseller-paging">
							<a href="#">1</a>
							<a class="digiseller-activepage">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<span>...</span>
							<a href="#">10</a>
							<a href="#">11</a>
							<a href="#">12</a>
							<a href="#">13</a>
						</div>
					
					
			</div>
			<!-- end.Список товаров -->
			
			
		</div>

<div class="digiseller-both"></div>
</body>
</html>