<!doctype html>
<html>
<head>

<link href="../css/default/main.css" media="screen" rel="stylesheet" type="text/css" />


</head>
<body>



	
	<div class="digiseller-preloader" style="display:none;">Загрузка...</div>
		


		<div class="digiseller-logo">
				<img src="../img/stockLogo.png">
			</div>

			<div id="digiseller-search">
				<form>
					<input type="text" value="" class="digiseller-search-input" />
					<input type="submit" class="digiseller-search-go" value=" " />
				</form>
			</div>
			
			<div class="digiseller-topmenu">
				<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
				<a href="#" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
				<a href="#" title="Контакты" class="digiseller-contactslnk">Контакты</a>
			</div>
	
	
	
	
		<div class="digiseller-category">
			<ul>
				<li><a href="#" title="">Супер мега нереально длинное название категории <span>(10)</span></a></li>
				<li>
					<a href="#" title="">Название категории 1ур <span>(32)</span></a>
					<ul>
						<li><a href="#" title="">Название подкатегории <span>(71)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(15)</span></a></li>
						<li><a href="#" title="">Название подкатегории <span>(3)</span></a>
							<ul>
								<li><a href="#" title="">Название категории <span>(4)</span></a></li>
								<li class="digiseller-category-active"><a href="#" title="">Мы находимся тут <span>(32)</span></a></li>
								<li><a href="#" title="">Название категории <span>(0)</span></a></li>
								<li><a href="#" title="">Название категории <span>(31)</span></a></li>
							</ul>
						</li>	
						<li><a href="#" title="">Название категории <span>(9)</span></a></li>
						<li><a href="#" title="">Название категории <span>(12)</span></a></li>
						<li><a href="#" title="">Название категории <span>(5)</span></a></li>
						<li><a href="#" title="">Название категории <span>(21)</span></a></li>
					</ul>
				</li>
				<li><a href="#" title="">Название категории <span>(75)</span></a></li>
				<li><a href="#" title="">Название категории <span>(34)</span></a></li>
				<li><a href="#" title="">Название категории <span>(26)</span></a></li>
				<li><a href="#" title="">Название категории <span>(2)</span></a></li>
				<li><a href="#" title="">Название категории <span>(51)</span></a></li>
			</ul>
		</div>
		
		<div id="digiseller-main" class="digiseller-main">
			
			
			<!-- Список товаров -->
			<div class="digiseller-productList digiseller-homepage">

			
			
			
			
			
	<div class="digiseller-snapshot">
		
		<div>
			<span class="digiseller-vitrinaicon digiseller-lider">Лидер продаж!</span><br />
		</div>
			
		<div>	
			<a href="#" title="digiseller-productName">
			<img alt="" style="width:320px;" src="http://img.rufox.ru/files/fotoView/548322.jpg">
			</a>
		</div>
		
		<div class="digiseller-snapprodnamehldr" style="max-width:320px; "> <!-- тут max-width:[значение размера картинки установленное в админке]px; -->
			<a href="#" title="productName"><span class="digiseller-snapname">Клара и Варвара / 2 Broke Girls / Клара и Варвара 2 Broke Girls / Клара и Варвара / 2 Broke Girls</span></a>
		</div>
		
		<div>	
			<span class="digiseller-snapprice">19'900</span>
			<span class="digiseller-snapcurrency">Рублей</span>
			<a href="#" class="digiseller-buyButton">Купить</a>
		</div>
		
	</div>

					
					
					
					
					

					<div class="digiseller-snapshot">
						
						<div>
							<span class="digiseller-vitrinaicon digiseller-lider">Лидер продаж!</span><br />
						</div>
							
						<div class="digiseller-snapimgalign">	
							<a href="#" title="digiseller-productName">
							<img alt="" style="width:120px;" src="http://attach.forum.ge/post-20-1325358802.jpg">
							</a>
						</div>
						
						<div class="digiseller-snapprodnamehldr" style="max-width:320px;"> <!-- тут max-width:[значение размера картинки установленное в админке]px; -->
							<a href="#" title="productName"><span class="digiseller-snapname">Просто Клара</span></a>
						</div>
						
						<div>	
							<span class="digiseller-snapprice">19'900</span>
							<span class="digiseller-snapcurrency">Рублей</span>
							<a href="#" class="digiseller-buyButton">Купить</a>
						</div>
						
					</div>




					
		
							<div class="digiseller-snapshot">
						
						<div>
							<span class="digiseller-vitrinaicon digiseller-lider">Лидер продаж!</span><br />
						</div>
							
						<div class="digiseller-snapimgalign">	
							<a href="#" title="digiseller-productName">
							<img alt="" style="width:200px;" src="http://im2-tub-ru.yandex.net/i?id=107945075-70-72&n=21">
							</a>
						</div>
						
						<div class="digiseller-snapprodnamehldr" style="max-width:200px;"> <!-- тут max-width:[значение размера картинки установленное в админке]px; -->
							<a href="#" title="productName"><span class="digiseller-snapname">Visa GOLD</span></a>
						</div>
						
						<div>	
							<span class="digiseller-snapprice">1'650</span>
							<span class="digiseller-snapcurrency">USD</span>
							<a href="#" class="digiseller-buyButton">Купить</a>
						</div>
						
					</div>
		

					<div class="digiseller-both"></div>
			</div>
			<!-- end.Список товаров -->
			
			
		</div>


<div class="digiseller-both"></div>
</body>
</html>