<div class="digiseller-options">
	<div class="digiseller-filtersort">
		<span>Показать: </span>
		<select>
			<option value="all">Все отзывы</option>
			<option value="good">Положительные (<?= totalGood ?>)</option>
			<option value="bad">Отрицательные (<?= totalBad ?>)</option>
		</select>
	</div>
</div>
<div class="digiseller-comments"></div>
<div class="digiseller-paging"></div>