<div class="digiseller-paging">
	<?= out ?>
	<div class="digiseller-pager-rows">
		<span>Выводить на странице:</span>&nbsp;
		<select>
			<option value="10">10</option>
			<option value="20">20</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</div>
</div>