<?
	var button = (d.is_available
		? '<a class="digiseller-buyButton" data-id="' + d.id + '" data-form="1"'
			+ (d.prices_unit && d.prices_unit.unit_CntMin ? ' data-min="' + d.prices_unit.unit_CntMin + '"' : '')
			+ (d.prices_unit && d.prices_unit.unit_CntMax ? ' data-max="' + d.prices_unit.unit_CntMax + '"' : '')
			+ (ai ? ' data-ai="' + ai + '"' : '')
			+ ' id="digiseller-calc-buy-' + index + '">' + DS.opts.i18n['buy'] + '</a>'
			+ (DS.opts.hasCart && d.no_cart != 1 ? ' <a class="digiseller-buyButton" data-id="' + d.id + '" data-form="1" data-cart="1" id="digiseller-calc-cart-' + index + '">' + DS.opts.i18n['toCart'] + '</a>' : '')
		: '<a class="digiseller-buyButton-empty">' + DS.opts.i18n['notAvailable'] + '</a>'
	);
?>

<div <?= d.is_available ? 'id="digiseller-calc-' + index + '"' : '' ?> class="digiseller-calc <?= d.is_available ? '' : 'digiseller-notinstock' ?>">
	<? if (needImg) { ?>
		<? var mainImg = d.preview_imgs && d.preview_imgs[0] ? d.preview_imgs[0].url : '' ?>

		<div class="digiseller-product-0-image">
			<? if (mainImg) { ?>					
				<img class="digiseller-calc-0-product_image" src="//graph.digiseller.ru/img.ashx?idp=<?= d.preview_imgs[0].id ?>&maxlength=<?= (imgSize ? imgSize : DS.opts.imgsize_infopage) ?>" alt="<?= d.name ?>" />
			<? } else { ?>
				<img class="digiseller-calc-0-product_image" src="//graph.digiseller.ru/img.ashx?id_d=1&maxlength=<?= (imgSize ? imgSize : DS.opts.imgsize_infopage) ?>" alt="<?= d.name ?>" />
			<? } ?>
		</div>
	<? } ?>

	<? if (needName) { ?>			
		<div class="digiseller-product-0-digiseller-name">
			<span><?= d.name ?></span>
		</div>
	<? } ?>
	
	<? if (d.is_available) { ?>	
		<form method="POST" action="https://www.oplata.info/asp2/pay.asp" id="digiseller-buy-form-<?= d.id ?>-<?= index ?>">
			<input type="hidden" name="Agent" value="<?= (ai === null /*нету аттрибута*/ ? d.agency_id : ai) ?>" />
			<input type="hidden" name="product_id" value="<?= d.id ?>" />
			<input type="hidden" name="ID_D" value="<?= d.id ?>" />
			<input type="hidden" name="seller_id" value="<?= DS.opts.seller_id ?>" />
			<input type="hidden" name="FailPage" value="<?= failPage ?>" />
				
			<? if (!d.prices_unit) { ?>	
				<span class="digiseller-prod-cost" id="digiseller-calc-price-<?= index ?>" <?= (noPrice ? 'style="display:none;"' : '') ?>><?= d.price ?> <span><?= d.currency ?></span></span>
			<? } else { ?>
				<div class="digiseller-calc-quanity">
					<table>
					<tr>
						<td><span><?= DS.opts.i18n['iWillPay'] ?> <b id="digiseller-calc-amountR-<?= index ?>"><?= d.prices_unit.unit_Currency ?></b></span><br /></td>
						<td colspan="3"><span><?= DS.opts.i18n['iWillGet'] ?> <b><?= d.prices_unit.unit_Name ?></b></span></td>
					</tr>
					<tr>
						<td>
							<div class="digiseller-calc-left">
								<input name="Unit_Summa" type="text" id="digiseller-calc-amount-<?= index ?>" value="<?= d.prices_unit.unit_Amount ?>"<?= (d.prices_unit.unit_Fixed ? ' disabled="disabled"' : '') ?> />   
							</div>
						</td>
						<td>
							<div class="digiseller-calc-center">
								<span class="digiseller-calc-<?= d.prices_unit.unit_Fixed ? 'arrowLeft' : 'arrowLeftRight' ?>"></span>
							</div>							
						</td>
						<td >
							<div class="digiseller-calc-right">
								<div>
								<? if (d.prices_unit.unit_Fixed) { ?>
									<select id="digiseller-calc-cntSelect-<?= index ?>" style="width:100%" name="Unit_Cnt">											
										<? DS.util.each(d.prices_unit.unit_Fixed, function(unit_Fixed) { ?>
											<option value="<?= unit_Fixed ?>"><?= unit_Fixed ?></option>
										<? }); ?>
									</select>
								<? } else { ?>						
									<input name="Unit_Cnt" type="text" id="digiseller-calc-cnt-<?= index ?>" value="<?= d.prices_unit.unit_Cnt ?>" data-min="<?= d.prices_unit.unit_CntMin ?>" data-max="<?= d.prices_unit.unit_CntMax ?>" />
								<? } ?>
								</div>
								<div>
									<span class="digiseller-calc-right-value"><?= d.prices_unit.unit_CntDesc ?></span>
								</div>
							</div>
						</td>
					</tr>
					</table>
				</div>
				
				<div class="digiseller-calc-limit digiseller-hidden" id="digiseller-calc-limit-<?= index ?>"></div>
			<? } ?>
			
			<div class="digiseller-calc-method-two" id="digiseller-calc-method-<?= index ?>">					
				<span><?= DS.opts.i18n['paymentVia'] ?>:</span><br />
				<? if (d.payment_methods) {	?>
					<div>
						<div>								
							<select id="digiseller-calc-currency-<?= index ?>" name="TypeCurr">
								<? for (type in d.payment_methods) {
									if (!DS.util.hasOwnProp(d.payment_methods, type) || !d.payment_methods[type]) continue; ?>
									<option class="digiseller-calc-option digiseller-calc-<?= ('' + (d.payment_methods[type][0] && d.payment_methods[type][0][0])).toLowerCase() ?>" value=""><?= type ?></option>
								<? } ?>
							</select>
						</div>
						<div id="digiseller-calc-curadd-<?= index ?>">
							<? var i = 0;
							for (type in d.payment_methods) {
								if (!DS.util.hasOwnProp(d.payment_methods, type) || !d.payment_methods[type]) continue; ?>
								<select class="digiseller-hidden" data-vars="<?= d.payment_methods[type].length ?>" data-index="<?= i ?>">
									<? DS.util.each(d.payment_methods[type], function(options) { ?>
										<option value="<?= options[0] ?>"<?= options[1] === DS.opts.currency ? ' selected="selected"' : '' ?>><?= options[1] ?></option>
									<? }); ?>
								</select>
								<? i++;
							} ?>
						</div>
					</div>
				<? } ?>
			</div>

			<? if (d.options && d.options.length) { ?>
				<div id="digiseller-calc-options-<?= index ?>">
					<? DS.util.each(d.options, function(option, i) { ?>							
						<div class="digiseller-calc-line"<?= option.required == 1 ? ' data-required="1"' : '' ?>>
							<div><?= option.label ?> <?= option.required == 1 ? '<span title="' + DS.opts.i18n['required'] + '">*</span>' : '' ?> <?= option.comment ? '<span class="digiseller-form-help">?</span><i class="digiseller-form-tip">' + option.comment + '</i>' : '' ?></div>
							
							<? switch(option.type) {
								case 'text': ?>
								
									<input type="text" name="<?= option.name ?>" />						
									
									<? break;									
								case 'textarea': ?>		
								
									<textarea name="<?= option.name ?>"></textarea>
									
									<? break;									
								case 'select': ?>
								
									<select name="<?= option.name ?>">
									<? if (option.variants && option.variants.length)
										if (option.required != 1) { ?>
											<option></option>
										<? }
										
										DS.util.each(option.variants, function(variant, ii) { ?>										
											<option value="<?= variant.value ?>"<?= variant['default'] == 1 ? ' selected' : '' ?>>
												<?= variant.text ?><?= variant.modify ? ' (' + variant.modify + ')' : '' ?>
											</option>
										<? }); ?>										
									</select>
									
									<? break;
								case 'checkbox': case 'radio':									
									if (option.variants && option.variants.length) {
										DS.util.each(option.variants, function(variant, ii) { ?>										
											<input type="<?= option.type ?>" id="<?= option.name ?>_<?= ii ?>-<?= index ?>" name="<?= option.name + (option.type === 'checkbox' ? '-' + variant.value : '') ?>" value="<?= variant.value ?>"<?= variant['default'] == 1 ? ' checked' : '' ?> />
											<label for="<?= option.name ?>_<?= ii ?>-<?= index ?>"><?= variant.text ?><?= variant.modify ? ' (' + variant.modify + ')' : '' ?></label><br />
										<? });											
									}
									
									break;
							} ?>
						</div> 
					<? }); ?>
				</div>
			<? } ?>
			
			<? if (DS.opts.agreement_text) { ?>
				<div class="digiseller-calc-confirmation">
					<input type="checkbox" id="digiseller-calc-rules-<?= index ?>"<?= agree == 1 ? ' checked="checked"' : '' ?> />
					<?= DS.opts.i18n['iAgreeWithTerms'].replace('data-action="agreement"', 'id="digiseller-calc-agreement-' + index + '"') ?>
				</div>
			<? } ?>
 
			<div class="digiseller-calc-buy">
				<?= button ?>
			</div>
			
			<div class="digiseller-calc-line-err digiseller-hidden" id="digiseller-buy-error-<?= d.id ?>-<?= index ?>"></div>
		</form>
	<? } else { ?>
		<span class="digiseller-prod-cost" id="digiseller-calc-price-<?= index ?>" <?= (noPrice ? 'style="visibility:hidden;"' : '') ?>><?= d.prices_unit ? DS.opts.i18n['from'] : '' ?> <?= d.price ?> <span><?= d.currency ?></span></span>
		<?= button ?>
	<? } ?>
</div>