<h2><?= opts.i18n['termsOfService'] ?></h2>
<div style="height:200px; width:550px; overflow-y:scroll; text-align:left;"><?= opts.agreement_text ?></div>
<br />
<a id='digiseller-agree'><?= opts.i18n['accept'] ?></a> <a id='digiseller-disagree'><?= opts.i18n['refuse'] ?></a> 