<h2>Условия предоставления сервиса</h2>
<div style="height:200px; width:550px; overflow-y:scroll; text-align:left;"><?= text ?></div>
<br />
<a id='digiseller-agree'>Принять</a> <a id='digiseller-disagree'>Отказаться</a> 