<h2><?= DS.opts.i18n['termsOfService'] ?></h2>
<div style="height:200px; width:550px; overflow-y:scroll; text-align:left;"><?= DS.opts.agreement_text ?></div>
<br />
<a id='digiseller-agree'><?= DS.opts.i18n['accept'] ?></a> <a id='digiseller-disagree'><?= DS.opts.i18n['refuse'] ?></a> 