<div class="digiseller-options">
	<div class="digiseller-sortby" id="digiseller-sort">
		<span><?= opts.i18n['sortBy'] ?>: </span>
		<select>
			<option value="" disabled="disabled"></option>
			<option value="name"><?= opts.i18n['nameFromAToZ'] ?></option>
			<option value="nameDESC"><?= opts.i18n['nameFromZToA'] ?></option>
			<option value="price"><?= opts.i18n['priceFromLowToHigh'] ?></option>
			<option value="priceDESC"><?= opts.i18n['priceFromHighToLow'] ?></option>
		</select>
	</div>
	
	<div id="digiseller-view">
		<span><?= opts.i18n['view'] ?>: </span>
		<select>
			<option value="tile"><?= opts.i18n['tile'] ?></option>
			<option value="list"><?= opts.i18n['list'] ?></option>
			<option value="table"><?= opts.i18n['table'] ?></option>
		</select>
	</div>

	<div id="digiseller-currency"></div>
</div>