<? var mainImg = d.preview_imgs && d.preview_imgs[0] ? d.preview_imgs[0].url : '' ?>
<? var reviewsCount = parseInt(d.statistics.good_reviews) + parseInt(d.statistics.bad_reviews); ?>
<? var price = (d.collection == 'unit' ? 'от ' : '') + d.price + ' ' + d.currency ?>

<div class="digiseller-productpge">
	<h1>
		<?= d.name ?>&nbsp;
		<? switch(d.label) {
			case 'top': ?>
				<span class="digiseller-labellider">Лидер продаж!</span>
				<? break;
			case 'sale': ?>
				<span class="digiseller-labelaction">Акция!</span>
				<? break;
			case 'new': ?>
				<span class="digiseller-labelnew">Новинка!</span>
				<? break;
		} ?>
	</h1>
	
	<div class="digiseller-breadcrumbs">
		<a title="Магазин" onclick="location.hash='#!digiseller/home';">Магазин</a> &gt;&nbsp;
		<? if (d.breadCrumbs) {			
			for (var i = 0, l = d.breadCrumbs.length; i < l - 1; i++) { ?>
				<a title="<?= d.breadCrumbs[i].name ?>" onclick="location.hash='#!digiseller/articles/<?= d.breadCrumbs[i].id ?>';"><?= d.breadCrumbs[i].name ?></a> &gt;&nbsp;
			<? } ?>
			<a title="<?= d.breadCrumbs[l - 1].name ?>" onclick="location.hash='#!digiseller/articles/<?= d.breadCrumbs[l - 1].id ?>';"><?= d.breadCrumbs[l - 1].name ?></a>
		<? } ?>
	</div>

	<div class="digiseller-options">
		<span class="digiseller-social">
			<a class="digiseller-social-fb" title="Поделиться в facebook" data-action="share" data-type="fb" data-title="<?= d.name ?> / <?= price ?>" data-img="<?= mainImg ?>"></a>
			<a class="digiseller-social-vk" title="Поделиться в вКонтакте" data-action="share" data-type="vk" data-title="<?= d.name ?> / <?= price ?>" data-img="<?= mainImg ?>"></a>
			<a class="digiseller-social-tw" title="Поделиться в twitter" data-action="share" data-type="tw" data-title="<?= d.name ?> / <?= price ?>"></a>
			<a class="digiseller-social-wm" title="Поделиться в Webmoney.Events" data-action="share" data-type="wme" data-title="<?= d.name ?> / <?= price ?>" data-img="<?= mainImg ?>"></a>
		</span>

		<div id="digiseller-currency"></div>
	</div>
	
	<div class="digiseller-product-details">		
		<div class="digiseller-product-left">
			<? if (mainImg) { ?>
				<a href="<?= mainImg ?>" target="_blank" id="digiseller-article-img-preview" data-type="img">
					<img src="//graph.digiseller.ru/img.ashx?idp=<?= d.preview_imgs[0].id ?>&<?= d.preview_imgs[0].height > d.preview_imgs[0].width ? 'h' : 'w' ?>=<?= imgsize ?>" alt="<?= name ?>" />
				</a>
			<? } else { ?>
				<img src="//graph.digiseller.ru/img.ashx?id_d=1&maxlength=<?= imgsize ?>" alt="<?= d.name ?>" />
			<? } ?>
			
			<? if (d.preview_imgs || d.preview_videos) { ?>
				<div class="digiseller-left-thumbs" id="digiseller-article-thumbs">
					<? if (d.preview_imgs && d.preview_imgs.length > 1) { ?>
						<? for (var i = 0, l = d.preview_imgs.length; i < l; i++) { ?>
							<a href="<?= d.preview_imgs[i].url ?>" data-type="img">
								<img src="//graph.digiseller.ru/img.ashx?idp=<?= d.preview_imgs[i].id ?>&maxlength=80&crop=1" alt="" />
							</a>
						<? } ?>
					<? } ?>

					<? if (d.preview_videos) { ?>
						<? for (var i = 0, l = d.preview_videos.length; i < l; i++) { ?>
							<a class="digiseller-videothumb" data-id="<?= d.preview_videos[i].id ?>" data-type="<?= d.preview_videos[i].type ?>">
								<img src="<?= d.preview_videos[i].preview ?>" alt="" />
								<span></span>
							</a>
						<? } ?>
					<? } ?>
				</div>
			<? } ?>
		</div>
		
		<div class="digiseller-product-right">
			<?= buy ?>

			<div class="digiseller-prod-info">
				<? if (d.type && d[d.type]) { ?>
					<span class="digiseller-bold">Товар загружен:&nbsp;</span> <?= d[d.type].date ?>
					<div class="digiseller-prodinfoseparator"></div>
				<? } ?>
					
				<span class="digiseller-bold">Количество продаж/возвратов:</span> <?= d.statistics.sales ?>/<?= d.statistics.refunds ?>
				<div class="digiseller-prodinfoseparator"></div>
			</div>
			
			<? if (d.units.price && d.units.desc) { ?>
				<span class="digiseller-bold">Цена:</span> <?= d.units.price ?> <?= d.currency ?> за <?= d.units.desc ?><br />
			<? } ?>
		</div>
	</div>
	
	<div class="digiseller-both"></div>

	<div>		
		<div class="digiseller-productdetails-tabs">
			<a class="digiseller-activeTab" data-action="article-tab" data-tab="0">Описание</a>	
			<? if ((d.units && d.units.discounts) || (d.discounts && d.discounts.length)) { ?>
				<a data-action="article-tab" data-tab="1">Скидки</a>	
			<? } ?>
			<? if (reviewsCount) { ?>
				<a data-action="article-tab" data-tab="2">Отзывы (<?= reviewsCount ?>)</a>
			<? } ?>
		</div>
		<div>
			<div class="digiseller-description_content">
				<div class="digiseller-prod-info">
					<?= d.info ?>
				</div>

				<? if (d.add_info !== "") { ?>
					<div class="digiseller-prod-info">
						<h3>Дополнительная информация:</h3>
						<?= d.add_info ?>
					</div>
				<? } ?>
			</div>
			
			<div class="digiseller-reviews_content digiseller-discounttable2" style="display:none;">
				<? if ((d.units && d.units.discounts) || (d.discounts && d.discounts.length)) { ?>
				
					<? if (d.units && d.units.discounts) { ?>
						<h3>Скидки от количества приобретаемого товара</h3>
						<table class="digiseller-discounttable1">
							<thead>
								<tr class="digiseller-discounttabbe-head">	
									<td>при покупке от</td>
									<td>скидка</td>
									<td>цена за <?= d.units.desc ?></td>
								</tr>
							</thead>
							<tbody>
								<? for (var i = 0, l = d.units.discounts.length; i < l; i++) { ?>
									<tr>
										<td><?= d.units.discounts[i].desc ?></td>
										<td><?= d.units.discounts[i].percent ?>%</td>
										<td><?= d.units.discounts[i].price ?> <?= d.currency ?></td>
									</tr>
								<? } ?>
							</tbody>
						</table><br />
					<? } ?> 
				
					<? if (d.discounts && d.discounts.length) { ?>
						<h3>Cкидка постоянным покупателям</h3>
						<table class="digiseller-discounttable1">
							<thead>
								<tr class="digiseller-discounttabbe-head">	
									<td>сумма покупок от</td>
									<td>скидка</td>
								</tr>
							</thead>
							<tbody>
								<? for (var i = 0, l = d.discounts.length; i < l; i++) { ?>
									<tr>
										<td><?= d.discounts[i].summa ?> <?= d.currency ?></td>
										<td><?= d.discounts[i].percent ?>%</td>
									</tr>
								<? } ?>
							</tbody>
						</table><br />
					<? } ?> 
				<? } ?>
			</div>
			
			<div class="digiseller-reviews_content" id="digiseller-article-comments-<?= d.id ?>" style="display:none;"></div>
		</div>
	</div>
</div>
<br />