<div class="digiseller-snapshot">
	<div>
		<? if (d.label) {
			switch(d.label) {
				case 'top': ?>
					<span class="digiseller-vitrinaicon digiseller-lider"><?= opts.i18n['leader!'] ?></span>
					<? break;
				case 'sale': ?>
					<span class="digiseller-vitrinaicon digiseller-action"><?= opts.i18n['action!'] ?></span>
					<? break;
				case 'new': ?>
					<span class="digiseller-vitrinaicon digiseller-newproduct"><?= opts.i18n['new!'] ?></span>
					<? break;
			}
		} else { ?>
			<span class="digiseller-vitrinaicon"></span>
		<? } ?>
		<br />
	</div>	
	<div style="height:<?= 10 + imgsize ?>px;">
		<a onclick="location.hash='<?= url ?>';">				
			<img src="//graph.digiseller.ru/img.ashx?id_d=<?= d.cntImg != 0 ? d.id : 1 ?>&maxlength=<?= imgsize ?>" alt="" />&nbsp;		
		</a>
	</div>

	<div class="digiseller-snapprodnamehldr" style="max-width:<?= imgsize ?>px;">
		<a onclick="location.hash='<?= url ?>';" title="<?= d.name ?>">
			<span class="digiseller-snapname"><?= d.name ?></span>
		</a>
	</div>
	
	<div>
		<span class="digiseller-snapprice"><?= d.price ?></span>
		<span class="digiseller-snapcurrency"><?= d.currency ?></span>
		<? if (d.is_available) { ?>
			<a class="digiseller-buyButton" data-action="buy" data-id="<?= d.id ?>" data-ai="<?= d.agency_id ?>"><?= opts.i18n['buy'] ?></a>
		<? } else { ?>
			<a class="digiseller-buyButton-empty"><?= opts.i18n['notAvailable'] ?></a>
		<? } ?>
	</div>
</div>