<tr>
	<td class="digiseller-table-left">
		<a onclick="location.hash='<?= url ?>'"><?= d.name ?>                      
	</td>
	<td class="digiseller-table-right">
		<div>
			<span><? if (d.collection == 'unit') { ?> от <? } ?> <?= d.price ?> <?= d.currency ?></span>
			<? if (d.is_available) { ?>
				<a class="digiseller-buyButton" data-action="buy" data-id="<?= d.id ?>" data-ai="<?= d.agency_id ?>"><?= DS.opts.i18n['buy'] ?></a>
			<? } else { ?>
				<a class="digiseller-buyButton-empty"><?= DS.opts.i18n['notAvailable'] ?></a>
			<? } ?>
		</div>
	</td>
</tr>