<div class="digiseller-options">
	<div class="digiseller-sortby" id="digiseller-sort">
		<span>Сортировать по: </span>
		<select>
			<option value="name">названию от А до Я</option>
			<option value="nameDESC">названию от Я до А</option>
			<option value="price">цене от низкой до высокой</option>
			<option value="priceDESC">цене от высокой до низкой</option>
		</select>
	</div>
	
	<div id="digiseller-view">
		<span>Вид: </span>
		<select>
			<option value="tile">плитки</option>
			<option value="list">список</option>
			<option value="table">таблица</option>
		</select>
	</div>

	<div id="digiseller-currency"></div>
</div>