<?
	var button = (d.is_available ? '<a class="digiseller-buyButton" data-action="buy" data-id="' + d.id + '">Купить</a>' : '<a class="digiseller-buyButton-empty">Нет в наличии</a>');
?>

<div class="digiseller-productBuy">
	<? if (!d.needCalc) { ?>
		<span class="digiseller-prod-cost">19'995 Рублей</span>
	<? } ?>

	<? if (true || d.is_available && d.extendedBuy) { ?>
		<div id="digiseller-calc" class="digiseller-calc">
			<? if (true || d.needCalc) { ?>	
				<div class="digiseller-calc-quanity">
					<div class="digiseller-calc-left">
						<span>заплачу <b id="digiseller-calc-payR">руб</b>.</span><br />
						<input type="text" id="digiseller-calc-pay" value="10000"<?= (true || d.double ? '' : ' disabled="disabled"') ?> />   
					</div> 

					<div class="digiseller-calc-center">
						<span class="digiseller-calc-<?= d.double ? 'arrowLeftRight' : 'arrowLeft' ?>"></span>
					</div>					
					
					<div class="digiseller-calc-right">
						<span>получу <b id="digiseller-calc-getR">GOLD</b></span><br />
						<? if (true || d.double) { ?>
							<input type="text" id="digiseller-calc-get" value="9999999" />
						<? } else { ?>
							<select id="digiseller-calc-getSelect" style="width:100%">
								<? for (var i = 0, l = [0,1,2].length; i < l; i++) { ?>
									<option value="<?= i ?>"><?= i ?></option>
								<? } ?>
							</select>
						<? } ?>
					</div>
					
					<div class="digiseller-calc-right-value" id="digiseller-calc-getRK">k</div>				
				</div>
			<? } ?>
			
			<div class="digiseller-calc-method">
				<span>оплата через:</span><br />
				<select id="digiseller-calc-method">
					<? for (var i = 0, l = types.length; i < l; i++) { ?>
						<option class="digiseller-calc-option digiseller-calc-<?= types[i]['cl'] ?>" value="<?= types[i]['cl'] ?>"><?= types[i]['name'] ?></option>
					<? } ?>
				</select>
			</div>
			
			<div class="digiseller-calc-confirmation">
				<input type="checkbox" id="digiseller-calc-rules" checked="checked" />
				с «<a href="#">Правилами покупки товаров</a>» ознакомлен и согласен.
			</div>
 
			<div class="digiseller-calc-buy">
				<?= button ?>
			</div>
		</div>
	<? } else { ?>
		<?= button ?>
	<? } ?>
</div>