<?
	var button = (d.is_available ? '<a class="digiseller-buyButton" data-action="buy" data-id="' + d.id + '"' + (opts.extendedBuy ? ' data-form="1"' : '') + '>Купить</a>' : '<a class="digiseller-buyButton-empty">Нет в наличии</a>');
?>
		
<div class="digiseller-productBuy">
	<? if (!d.prices_unit) { ?>
		<span class="digiseller-prod-cost"><?= d.price ?> <?= d.currency ?></span>
	<? } ?>

	<? if (d.is_available && opts.extendedBuy) { ?>
		<div id="digiseller-calc" class="digiseller-calc">
			<form method="POST" action="https://www.oplata.info/asp/pay.asp" id="digiseller-buy-form-<?= d.id ?>">			
				<? if (d.prices_unit) { ?>	
					<div class="digiseller-calc-quanity">
						<div class="digiseller-calc-left">
							<span>заплачу <b id="digiseller-calc-amountR"><?= d.prices_unit.unit_Currency ?></b></span><br />
							<input name="Unit_Summa" type="text" id="digiseller-calc-amount" value="<?= d.prices_unit.unit_Amount ?>"<?= (d.prices_unit.unit_Fixed ? ' disabled="disabled"' : '') ?> />   
						</div> 

						<div class="digiseller-calc-center">
							<span class="digiseller-calc-<?= d.prices_unit.unit_Fixed ? 'arrowLeft' : 'arrowLeftRight' ?>"></span>
						</div>					
						
						<div class="digiseller-calc-right">
							<span>получу <b><?= d.prices_unit.unit_Name ?></b></span><br />
							<? if (d.prices_unit.unit_Fixed) { ?>
								<select id="digiseller-calc-cntSelect" style="width:100%" name="Unit_Cnt">
									<? for (var i = 0, l = d.prices_unit.unit_Fixed.length; i < l; i++) { ?>
										<option value="<?= d.prices_unit.unit_Fixed[i] ?>"><?= d.prices_unit.unit_Fixed[i] ?></option>
									<? } ?>
								</select>
							<? } else { ?>						
								<input name="Unit_Cnt" type="text" id="digiseller-calc-cnt" value="<?= d.prices_unit.unit_Cnt ?>" data-min="<?= d.prices_unit.unit_CntMin ?>" data-max="<?= d.prices_unit.unit_CntMax ?>" />
							<? } ?>
						</div>
						
						<div class="digiseller-calc-right-value"><?= d.prices_unit.unit_CntDesc ?></div>				
					</div>
				<? } ?>
				
				<div class="digiseller-calc-method">
					<span>оплата через:</span><br />
					<select id="digiseller-calc-currency" name="TypeCurr">
						<? var currency = {
							wmz: 'USD',
							wmr: 'RUR',
							wme: 'EUR',
							wmu: 'UAH'
						};
						
						for (type in opts.types) {
							if ( !opts.types.hasOwnProperty(type) || !d.prices[type] || d.prices[type] == 0)
								continue; ?>						
							<option class="digiseller-calc-option digiseller-calc-<?= type ?>" value="<?= type ?>"<?= currency[type] === opts.currency ? ' selected="selected"' : '' ?>><?= opts.types[type] ?></option>
						<? } ?>
					</select>
				</div>
				
				<div class="digiseller-calc-confirmation">
					<input type="checkbox" id="digiseller-calc-rules" checked="checked" />
					с «<a href="#">Правилами покупки товаров</a>» ознакомлен и согласен.
				</div>
	 
				<div class="digiseller-calc-buy">
					<input type="hidden" name="ID_D" value="<?= d.id ?>" />
					<input type="hidden" name="failPage" value="<?= failPage ?>" />
					<?= button ?>
				</div>
			</form>
		</div>
	<? } else { ?>
		<?= button ?>
	<? } ?>
</div>