<h2>Корзина</h2>

<table class="digiseller-cart-popup">
	<tbody>
		<tr class="digiseller-cart-header">
			<td>
				Название товара
			</td>
			<td class="digiseller-cart-price">
				Цена
				<select id="digiseller-cart-currency">
					<option value="RUR">RUR</option>
					<option value="USD">USD</option>
					<option value="EUR">EUR</option>
					<option value="UAH">UAH</option>
				</select>
			</td>
			<td colspan="2">
				Количество
			</td>
		</tr>
	</tbody>
</table>

<div class="digiseller-cart-content">
	<table class="digiseller-cart-popup" id="digiseller-cart-items">
		<tbody>			
			<?= items ?>
		</tbody>
	</table>
</div>

<br />

<div class="digiseller-cart-footer">
	<form action="https://www.oplata.info/asp2/pay.asp" method="POST" target="_blank">
		<input type="hidden" name="TypeCurr" value="<?= d.currency ?>" />
		<input type="hidden" name="FailPage" value="<?= failPage ?>" />
		<input type="hidden" name="Cart_UID" value="<?= DS.opts.cart_uid ?>" />
		<input type="hidden" name="Lang" value="<?= DS.opts.currentLang ?>" />
		
		<a href="#" id="digiseller-cart-go">Перейти к оплате</a>	
	</form>
	<a href="#" style="display:none">Пересчитать</a><!--class="digiseller-cart-btn-disabeld"  прячем, если не надо пересчитывать, или вешаем класс .digiseller-cart-btn-disabeld-->
	
	<!-- прячем span, если нужно пересчитать -->
	<span>Итого:&nbsp;&nbsp;
		<span id="digiseller-cart-amount"><?= d.amount ?></span> <?= d.currency ?>
	</span>
</div>