
  <h2>Корзина</h2>
  <div style="height:200px; width:550px; overflow-y:auto; text-align:left;">
  
  
	<table class="digiseller-cart-popup">
	<tbody>
		
	<tr class="digiseller-cart-header">
		<td>
			Название товара
		</td>
		<td class="digiseller-cart-price">
			Цена
		</td>
		<td colspan="2">
			Количество
		</td>
	</tr>	
      
	  
	  
	  
	  
	  
	<tr class="digiseller-cart-row-even digiseller-cart-error"> <!-- если ошибка то добавляем .digiseller-cart-error -->
		<td>
      <a class="digiseller-cart-params-toggle digiseller-cart-params-toggle-arrup">12</a>
			<a href="#">Игровая валюта такая-то</a>
      <div class="digiseller-cart-row-params">
        <strong>Цвет:</strong> Зелёный<br>
        <strong>С наклейками:</strong> да<br>
        <strong>Цвет наклеек:</strong> Белый<br>
        <strong>Размер:</strong> XL  
        
      </div>
		</td>
		<td class="digiseller-cart-price">
			1145.00 RUR
		</td>
		<td>
			<input type="number">
		</td>
		<td>
			<a target="_blank" class="digiseller-cart-del-product" href="#">x</a>
		</td>
	</tr>	
	<tr class="digiseller-cart-error"> <!-- и рисуем вот эту tr -->
		<td colspan="4">
			Максимально доступное количество товарова: 60
		</td>
	</tr>	

		
		

    <tr class="digiseller-cart-row-odd">
		<td>
			<a href="#">Product name Product name</a>
		</td>
		<td class="digiseller-cart-price">
			1145.00 RUR
		</td>
		<td>
			<input type="number">
		</td>
		<td>
			<a target="_blank" class="digiseller-cart-del-product" href="#">x</a>
		</td>
	</tr>    


	
      
	<tr class="digiseller-cart-row-even">
		<td>
      <a class="digiseller-cart-params-toggle">12</a>
			<a href="#">Игровая валюта такая-то</a>
		</td>
		<td class="digiseller-cart-price">
			1145.00 RUR
		</td>
		<td>
			<input type="number">
		</td>
		<td>
      
			<a target="_blank" class="digiseller-cart-del-product" href="#">x</a>
		</td>
	</tr>
	
	
		
      
    <tr class="digiseller-cart-error digiseller-cart-row-odd">
		<td>
			<a href="#">Карта на покупку чего-то</a>
		</td>
		<td class="digiseller-cart-price">
			1145.00 RUR
		</td>
		<td>
			<input type="number">
		</td>
		<td>
			<a target="_blank" class="digiseller-cart-del-product" href="#">x</a>
		</td>
	</tr>      
	<tr class="digiseller-cart-error">
		<td colspan="4">
			o_Ops! Вышло неловко!
		</td>
	</tr>
			

	
	  
    <tr class="digiseller-cart-row-even">
		<td>
			<a href="#">Product name Product name Product name Product name Product name</a>
		</td>
		<td class="digiseller-cart-price">
			1145.00 RUR
		</td>
		<td>
			<input type="number">
		</td>
		<td>
			<a target="_blank" class="digiseller-cart-del-product" href="#">x</a>
		</td>
	</tr>
	
	   
    </tbody>
	</table>
    
  </div>

	<br>
  
	<div class="digiseller-cart-footer">
		
		<a class="digiseller-cart-btn-disabeld" href="#">Перейти к оплате</a>
		<a href="#">Пересчитать</a><!-- прячем, если не надо пересчитывать, или вешаем класс .digiseller-cart-btn-disabeld-->
		
		<!-- прячем span, если нужно пересчитать -->
		<span style="display:none">Итого:&nbsp;&nbsp;
			<span>2224.99 RUR</span>
		</span>
		
	</div>