<h2><?= DS.opts.i18n['cart'] ?></h2>

<table class="digiseller-cart-popup">
	<tbody>
		<tr class="digiseller-cart-header">
			<td>
				<?= DS.opts.i18n['nameOfArticle'] ?>
			</td>
			<td class="digiseller-cart-price">
				<?= DS.opts.i18n['cost'] ?>&nbsp;
				<!--select id="digiseller-cart-currency">
					<option value="RUR">RUR</option>
					<option value="USD">USD</option>
					<option value="EUR">EUR</option>
					<option value="UAH">UAH</option>
				</select-->
			</td>
			<td>
				<?= DS.opts.i18n['count'] ?>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<div class="digiseller-cart-content">
	<? if (items) { ?>
			<table class="digiseller-cart-popup" id="digiseller-cart-items">
				<tbody>			
					<?= items ?>
				</tbody>
			</table>
	<? } else { ?>
		<?= DS.opts.i18n['cartIsEmpty'] ?>
	<? } ?>
</div>

<br />

<div class="digiseller-cart-footer">
	<form action="https://www.oplata.info/asp2/pay.asp" method="POST">
		<input type="hidden" name="TypeCurr" value="<?= d.currency ?>" />
		<input type="hidden" name="FailPage" value="<?= failPage ?>" />
		<input type="hidden" name="Cart_UID" value="<?= DS.opts.cart_uid ?>" />
		<input type="hidden" name="Lang" value="<?= DS.opts.currentLang ?>" />
		
		<a id="digiseller-cart-go"<?= !items ? ' data-disabled="1" class="digiseller-cart-btn-disabled"' : '' ?>><?= DS.opts.i18n['goToPay'] ?></a>	
	</form>

	<span id="digiseller-cart-amount-cont"<?= !items ? ' class="digiseller-hidden"' : '' ?>><?= DS.opts.i18n['inTotal'] ?>:&nbsp;&nbsp;
		<span id="digiseller-cart-amount"><?= d.amount ?></span> <?= d.currency ?>
	</span>
</div>