<div class="digiseller-options">
	<div class="digiseller-filtersort">
		<span><?= DS.opts.i18n['show'] ?>: </span>
		<select>
			<option value="all"><?= DS.opts.i18n['allReviews'] ?></option>
			<option value="good"><?= DS.opts.i18n['positive'] ?> (<?= totalGood ?>)</option>
			<option value="bad"><?= DS.opts.i18n['negative'] ?> (<?= totalBad ?>)</option>
		</select>
	</div>
</div>
<div class="digiseller-comments"></div>
<div class="digiseller-paging"></div>