<div class="langs_bg <?= DS.opts.currentLang ?>-icon"></div>
<div class="digiseller-langs-dd">
	<span></span>
	<? DS.util.each(DS.opts.langs, function(lang) { ?>
		<a href="#" data-action="click-lang" data-lang="<?= lang[0] ?>"><?= lang[1] ?></a>
	<? }); ?>
</div>