<div class="langs_bg <?= opts.currentLang ?>-icon"></div>
<div class="digiseller-langs-dd">
	<span></span>
	<? for (var i = 0, l = opts.langs.length; i < l; i++) { ?>		
		<a href="#" data-action="click-lang" data-lang="<?= opts.langs[i][0] ?>"><?= opts.langs[i][1] ?></a>
	<? } ?>
</div>