<div class="digiseller-preloader" style="display:none;" id="digiseller-loader">Загрузка...</div>

<div class="digiseller-fullwidth">
	<div class="digiseller-top">		
		<? if (d.logo_visible) { ?>
			<div class="digiseller-logo">
				<a href="#!digiseller/home"><img src="<?= d.logo_img ?>" alt="логотип" /></a>
			</div>
		<? } ?>	
		
		<? if (d.form_search) { ?>
			<div id="digiseller-search">
				<form class="digiseller-search-form">
					<input type="text" value="" class="digiseller-search-input" />
					<input type="submit" class="digiseller-search-go" value=" " />
				</form>
			</div>
		<? } ?>
		
		<div class="digiseller-topmenu">
			<? if (d.menu_purchases) { ?>
				<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
			<? }
			if (d.menu_reviews) { ?>
				<a href="#!digiseller/reviews" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
			<? }
			if (d.menu_contacts) { ?>
				<a href="#!digiseller/contacts" title="Контакты" class="digiseller-contactslnk">Контакты</a>
			<? } ?>
		</div>
	</div>

	<div class="digiseller-category" id="digiseller-category"></div>
	
	<div id="digiseller-main"></div>
</div>