<!-- вместо этого используется comment.tmpl -->
<div class="digiseller-review">
	<span class="digiseller-reviewdate"><?= date ?></span>
	<p>
		<?= (type == "good" ? '<span class="digiseller-reviewgood">+</span>' : '<span class="digiseller-reviewbad">-</span>') ?>&nbsp;
		<?= info ?>
	</p>	
	<? if (comment !== '') { ?>
		<div class="digiseller-reviewcomment">
			<span class="digiseller-reviewcommentarrow">^</span>
			<span class="digiseller-reviewcommentadmintxt">
				<span class="digiseller-reviewdate">Комментарий администратора</span>
				<?= comment ?>
			</span>
		</div>
	<? } ?>
</div>
<div class="digiseller-both"></div>