<h1><?= opts.i18n['search'] ?></h1>

<div class="digiseller-breadcrumbs">
	<a onclick="location.hash='#!digiseller/home';" title="<?= opts.i18n['shop'] ?>"><?= opts.i18n['shop'] ?></a> &gt; <strong><?= opts.i18n['search'] ?></strong>
</div>

<div class="digiseller-options">					
	<div class="digiseller-sortby">
		<?= opts.i18n['onRequest'] ?>&nbsp;"<span class="digiseller-bold" id="digiseller-search-query"></span>"&nbsp;<?= opts.i18n['foundArticles'] ?>:&nbsp;<span class="digiseller-bold" id="digiseller-search-total"></span>
	</div>

	<div id="digiseller-currency"></div>
</div>

<div class="digiseller-productList">
	<div id="digiseller-search-results">
		<?= out ?>
	</div>
	<div class="digiseller-paging"></div>
</div>