<div class="digiseller-product">
	<div class="digiseller-pricelabel">
		<span class="digiseller-article-cost"><?= d.price ?></span>
		<span class="digiseller-currency"><?= d.currency ?></span>
	</div>	

	<div class="digiseller-article-img" style="width:<?= 17 + imgsize ?>px;">
		<a href="<?= url ?>">
			<img src="http://graph.digiseller.ru/img.ashx?id_d=<?= d.id ?>&maxlength=<?= imgsize ?>" alt="<?= d.name ?>" />
		</a>
	</div>
	
	<div class="digiseller-browseProdTitle">
		<a href="<?= url ?>" title=""><?= d.snippet_name ?></a>
		<p>
			<?= d.snippet_info ?>
			<br /><br />
			<a title="Подробнее" href="<?= url ?>" class="digiseller-product-details">Подробнее »</a>
		</p>
	</div>
</div>