<img src="http://shop.digiseller.ru/xml/shop_views.asp?idd=0&ids=<?= opts.seller_id ?>" width="0" height="0" />

<? if (categories && categories.length) { ?>
	<div class="digiseller-category-blocks">
		<? for (var i = 0, l = categories.length; i < l; i++) { ?>
			<div>			
				<a onclick="location.hash='<?= opts.hashPrefix ?>/articles/<?= categories[i].id ?>';">
					<img src="//graph.digiseller.ru/img.ashx?idn=<?= categories[i].hasImg == 1 ? categories[i].id : 1?>&maxlength=<?= opts.imgsize_category ?>" alt="<?= name ?>" />
				</a>
				
				<a onclick="location.hash='<?= opts.hashPrefix ?>/articles/<?= categories[i].id ?>';" style="max-width:<?= opts.imgsize_category ?>px;">
					<?= categories[i].name ?><span>&nbsp;(<?= categories[i].cnt ?>)</span>
				</a>
			</div>
		<? } ?>
	</div>
	<div class="digiseller-both"></div>
	<br />
<? } ?>

<div class="digiseller-productList digiseller-homepage">
	<?= out ?>
</div>