<div class="digiseller-topmenu">
	<? if (opts.menu_purchases) { ?>
		<a href="https://www.oplata.info" title="<?= opts.i18n['myPurchases'] ?>" class="digiseller-myorderslnk"><?= opts.i18n['myPurchases'] ?></a>
	<? }
	if (opts.menu_reviews) { ?>
		<a onclick="location.hash='#!digiseller/reviews';" title="<?= opts.i18n['customerReviews'] ?>" class="digiseller-reviewslnk"><?= opts.i18n['customerReviews'] ?></a>
	<? }
	if (opts.menu_contacts) { ?>
		<a onclick="location.hash='#!digiseller/contacts';" title="<?= opts.i18n['contacts'] ?>" class="digiseller-contactslnk"><?= opts.i18n['contacts'] ?></a>
	<? } ?>
</div>