<div class="digiseller-topmenu">
	<? if (d.menu_purchases) { ?>
		<a href="#" title="Мои покупки" class="digiseller-myorderslnk">Мои покупки</a>
	<? }
	if (d.menu_reviews) { ?>
		<a href="#!digiseller/reviews" title="Отзывы покупателей" class="digiseller-reviewslnk">Отзывы покупателей</a>
	<? }
	if (d.menu_contacts) { ?>
		<a href="#!digiseller/contacts" title="Контакты" class="digiseller-contactslnk">Контакты</a>
	<? } ?>
</div>