.digiseller-loader {
display:block;
text-align:center;
position:fixed;
z-index:10001;
background:#EBEBEB;
color:#373737;
padding:16px 20px;
font-size:20px;
border-radius:5px;
text-shadow:1px 1px 1px #fff;
left:50%;
top:-25px;
width:200px;
margin:20px 20px 20px -100px;
-moz-box-shadow:0 0 3px #666;
-webkit-box-shadow:0 0 3px #666;
box-shadow:0 0 3px #666;
font-family:tahoma, Arial;
}

h1 {
color:#565656;
display:block;
font-size:24px;
font-weight:400;
line-height:1.1em;
margin:10px 0!important;
text-decoration:none
}

.digiseller-category {
float:left;
clear:both;
margin-left:10px;
margin-right:10px;
padding-bottom:10px;
padding-top:10px;
width:19%;
font-family:tahoma, Arial;
}

.digiseller-main {float:right; width:77%}
.digiseller-main, .digiseller-main * {font-family:Tahoma, Arial}

.digiseller-main-nocategory {width:100%}
.digiseller-main-nocategory, .digiseller-main-nocategory  * {font-family:Tahoma, Arial}


.digiseller-breadcrumbs {
color:#7B7B7B;
font-size:13px;
padding-top:10px;
padding-bottom:10px;
font-family:tahoma, Arial;
}

.digiseller-breadcrumbs a {
color:#0B6678;
font-size:13px;
text-decoration:none;
font-family:tahoma, Arial
}

.digiseller-category ul a {
color:#0b6678;
font-size:13px;
line-height:23px;
text-decoration:none
}

.digiseller-pager-pages li {
display:block;
float:left
}

.digiseller-pager-pages .digiseller-page-choosed {
font-weight:700;
text-decoration:none
}

.digiseller-article-img {
display:inline-block;
float:left;
text-align:center;
margin-top:5px;
margin-right:7px
}

.digiseller-article-img a {
color:#0B6678
}

.digiseller-article-imgs li {
float:left;
list-style:none;
padding:5px;
text-align:center;
width:150px
}

.digiseller-article-video a {
background-color:#FFF;
border:1px solid #B5B59D;
clear:both;
display:block;
overflow:hidden;
padding:5px;
position:relative
}

.digiseller-article-video a span {
background:url(http://plati.ru/images/ico-play-video.png) no-repeat scroll center center transparent;
height:100%;
left:0;
position:absolute;
top:0;
width:100%
}

.digiseller-article-video a:hover span {
background:url(http://plati.ru/images/ico-play-video-hover.png) no-repeat scroll center center transparent
}

.digiseller-comments-tabs {
border-bottom:1px solid #8AD;
height:31px;
list-style:none;
width:100%
}

.digiseller-comments-tabs li {
background-color:#fff;
border:1px solid #8AD;
float:left;
line-height:30px;
list-style:none;
margin:0 5px 0 0;
padding:0 15px;
text-align:center
}

li.digiseller-comments-choosed {
background-color:#fff;
border-bottom:1px solid #fff
}

.digiseller-article-imgs ul {
list-style:none;
width:500px
}

.digiseller-logo {
display:inline-block;
float:left;
font-family:tahoma, arial
}

.digiseller-topmenu {
font-size:0;
float:right;
margin-top:8px;
text-align:right;
display:inline-block;
font-family:tahoma, arial
}

#digiseller-search {
float:right;
margin-top:7px;
padding:0 0 0 5px;
z-index:100;
display:inline-block;
font-family:tahoma, arial
}

.digiseller-nothing-found {
color:#373737;
margin:15px 0;
display:block
}

.digiseller-topmenu a {
display:inline-block;
color:#565656;
padding-right:10px;
font-size:16px;
border-right:1px solid #ccc;
padding-bottom:3px;
padding-left:10px
}

.digiseller-topmenu a:last-child {
border:0 none!important
}

.digiseller-topmenu a:hover {
text-decoration:none
}

#digiseller-search input[type=text] {
-moz-border-radius:3px;
-webkit-border-radius:3px;
border:1px solid #ccc;
border-radius:3px;
font-size:14px;
font-weight:700;
color:#373737;
font-family:Tahoma, Arial;
height:28px;
padding-left:5px;
width:200px;
margin-right:3px;
margin-left:10px;
display:inline-block
}

.digiseller-search-go {
background:url(//www.digiseller.ru/shop/img/loupe.png) center center no-repeat #0b6678;
height:28px;
width:29px;
padding:0 10px;
vertical-align:bottom;
cursor:pointer;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
display:inline-block;
border:0 none;
color:#fff;
cursor:pointer;
display:inline-block;
right:0;
top:0;
transition:All .4s ease;
-webkit-transition:All .4s ease;
-moz-transition:All .4s ease;
-o-transition:All .4s ease
}

.digiseller-search-go:hover {
background:url(//www.digiseller.ru/shop/img/loupe.png) center center no-repeat #0a91c0
}

.digiseller-articles {
list-style-type:none
}

.digiseller-product {
border-bottom:dashed 1px #ccc;
display:inline-block;
margin:3px 0;
position:relative;
width:100%
}

.digiseller-product span.digiseller-currency {
color:#d90000;
display:block;
font-size:12px;
height:12px;
line-height:1em;
min-width:100px;
position:absolute;
right:15px;
text-align:right;
top:35px
}

.digiseller-product img {
-moz-transition:All .2s ease;
-o-transition:All .2s ease;
-webkit-transition:All .2s ease;
margin:5px 5px 12px;
padding:5px
}

.digiseller-product:hover img {
-moz-box-shadow:2px 2px 3px #9a9a9a;
-webkit-box-shadow:2px 2px 3px #9a9a9a;
box-shadow:2px 2px 3px #9a9a9a
}

.digiseller-separator {
width:15px
}

.digiseller-left {
float:left
}

.digiseller-article-name {
color:#333;
display:inline-block;
font-size:16px;
font-weight:700;
line-height:1.1em;
margin-right:20px;
padding-top:7px;
text-decoration:none
}

.digiseller-article-cost {
color:#d90000;
display:block;
float:right;
font-size:24px;
margin-right:15px;
padding-top:9px;
white-space:nowrap
}

.digiseller-options {
-moz-border-radius:3px;
-webkit-border-radius:3px;
background:#ebebeb;
border-radius:3px;
border-radius:3px;
margin-top:2px;
display:inline-block;
width:100%
}

.digiseller-sortby {
padding-left:10px;
display:inline-block;
padding-top:6px;
vertical-align:middle;
font-size:14px
}

.digiseller-sortby span {
color:#373737;
font-family:Tahoma;
font-size:14px;
line-height:27px
}

#digiseller-currency {
display:inline-block;
float:right;
line-height:27px;
margin-right:10px;
padding:5px 5px 5px 0
}

#digiseller-currency span {
color:#373737;
font-family:Tahoma;
font-size:14px;
line-height:27px
}

#digiseller-sort {
display:inline-block;
float:left;
padding:5px 5px 5px 10px
}

#digiseller-sort span,#digiseller-sort a {
color:#0B6678;
font-family:Tahoma;
font-size:13px;
line-height:27px
}

#digiseller-sort span {
color:#373737
}

.digiseller-category-blocks div {
	padding:10px;
	text-align:center;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 10px;
	position: relative;
	transition: all 0.5s ease 0s;
	vertical-align: top;
}

.digiseller-category-blocks a {text-decoration:none; color: #0B6678;}
.digiseller-category-blocks a:hover {text-decoration:underline;}

.digiseller-category-blocks div a {
	display:block;
	font-size: 16px;
	line-height: 1.2em;
	padding: 7px 0;
	text-decoration: none;
	text-align:center;
	
	
}

.digiseller-category-blocks div a:hover + a {text-decoration:underline}

.digiseller-category-blocks div a span {
	font-size:normal;
    color: #708787;
	font-size: 11px;
}

div.digiseller-category a {
display:inline-block;
font-size:16px;
line-height:1em;
padding:7px 0;
text-decoration:none
}

.digiseller-homepage {
display:inline-block;
clear:left;
width:100%;
}

.digiseller-snapshot {
display:inline-block;
vertical-align:top;
border:1px solid #dfdfdf;
border-radius:3px;
margin-bottom:15px;
margin-right:10px;
position:relative;
text-align:left;
-moz-border-radius:3px;
-moz-transition:all .5s ease;
-ms-transition:all .5s ease;
-o-transition:all .5s ease;
-webkit-border-radius:3px;
-webkit-transition:all .5s ease;
transition:all .5s ease
}

.digiseller-snapshot > div {
width:100%;
display:block
}

.digiseller-snapprodnamehldr {
display:inline-block;
padding-bottom:4px
}

.digiseller-snapimgalign a {
display:block
}

.digiseller-snapimgalign {
text-align:center
}

.digiseller-productList.digiseller-homepage {
margin-top:10px!important
}

.digiseller-snapshot:hover {
-moz-box-shadow:1px 1px 3px #7f7f7f;
-webkit-box-shadow:1px 1px 3px #7f7f7f;
box-shadow:1px 1px 3px #7f7f7f;
z-index:999
}

.digiseller-snapshot span.digiseller-snapname {
color:#656565;
display:block;
min-width:130px;
font-family:Tahoma,Arial;
font-size:14px;
height:34px;
overflow:hidden;
padding:5px 5px 0 10px;
text-align:left
}

.digiseller-snapshot span.digiseller-snapprice {
color:#D90000;
display:block;
float:right;
font-size:18px;
padding-right:10px;
padding-left:10px;
line-height: 15px;
text-align:right
}

.digiseller-snapshot span.digiseller-snapcurrency {
clear:both;
color:#d90000;
display:block;
float:right;
font-size:10px;
line-height:1em;
padding-bottom:7px;
padding-right:10px;
padding-left:10px;
text-align:right
}

.digiseller-snapshot img {
border:0 none;
padding:7px 7px 0
}

a.digiseller-buyButton {
-webkit-transition:All .4s ease;
-moz-transition:All .4s ease;
-o-transition:All .4s ease;
padding:5px 7px;
display:block;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
background:#0b6678;
font-size:14px;
cursor:pointer;
border:0 none;
color:#fff;
font-family:Tahoma, Arial
}

a.digiseller-buyButton-empty {
-webkit-transition:All .4s ease;
-moz-transition:All .4s ease;
-o-transition:All .4s ease;
padding:5px 7px;
display:block;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
background:#ccc;
font-size:14px;
cursor:pointer;
border:0 none;
color:#fff
}

a.digiseller-buyButton:hover {
background:#0a91c0
}

a.digiseller-buyButton-empty:hover {
cursor:default
}

.digiseller-homepage a.digiseller-buyButton {
display:inline-block;
margin-left:10px;
margin-bottom:10px
}

.digiseller-homepage a.digiseller-buyButton-empty {
margin-left:10px;
display:inline-block;
margin-bottom:10px
}

.digiseller-product a.digiseller-buyButton {
position:absolute;
right:15px;
bottom:10px
}

.digiseller-product a.digiseller-buyButton-empty {
position:absolute;
right:15px;
bottom:10px
}

.digiseller-product-right a.digiseller-buyButton {
clear:both;
float:right;
margin-top:10px
}

.digiseller-product-right a.digiseller-buyButton-empty {
clear:both;
float:right;
margin-top:10px
}

.digiseller-snapshot div {
display:block
}

.digiseller-snapshot .digiseller-vitrinaicon {
color:#FFF;
display:block;
font-size:9px;
line-height:16px;
margin-left:10px;
text-align:left;
clear:both
}

.digiseller-vitrinaicon.digiseller-action {
background:#4caf31;
color:#FFF;
float:right;
font-size:10px;
margin-right:30px;
padding-left:5px;
padding-right:5px;
text-align:left
}

.digiseller-vitrinaicon.digiseller-newproduct {
background:#f8885b;
color:#FFF;
float:right;
font-size:10px;
margin-right:30px;
padding-left:5px;
padding-right:5px;
text-align:left
}

.digiseller-vitrinaicon.digiseller-lider {
background:#ff6681;
color:#FFF;
float:right;
font-size:10px;
margin-right:30px;
padding-left:5px;
padding-right:5px;
text-align:left
}

.digiseller-productDescription {
color:#6F6F6F;
font-family:Tahoma,Arial;
font-size:14px;
font-weight:400;
padding-top:12px
}

.digiseller-prod-name {
color:#565656;
font-size:24px;
line-height:1.1em;
margin:10px 0;
text-decoration:none
}

.digiseller-prod-cost {
clear:both;
color:#d90000;
display:block;
float:right;
font-size:24px;
padding-bottom:7px;
white-space:nowrap
}

div.digiseller-productBuy {
color:#373737;
font-family:Arial;
font-weight:400;
line-height:1.4em;
padding-top:4px;
float:right
}

.digiseller-pricelabel {
display:block;
float:right
}

.digiseller-labelIcon {
display:block;
height:23px;
position:absolute;
right:0;
top:60px;
width:120px
}

.digiseller-browseProdTitle p {
color:#6f6f6f;
font-size:14px;
font-weight:400;
padding-top:10px
}

.digiseller-browseProdTitle a {
color:#565656;
display:block;
margin-left:178px;
font-size:24px;
line-height:1.1em;
margin:10px 100px 10px 0;
text-decoration:none
}

.digiseller-product-details {
font-size:14px;
margin-top:10px;
position:relative
}

.digiseller-browseProdTitle a.digiseller-product-details {
color:#0B6678;
display:inline-block;
font-size:14px;
font-weight:400;
width:130px;
margin-top:10px;
text-decoration:none
}

.digiseller-browseProdTitle a.digiseller-product-details:hover {
text-decoration:underline
}

.digiseller-product-left {
text-align:center;
float:left
}

.digiseller-product-left a {
font-size:0;
text-decoration:none
}

.digiseller-product-right {
padding-right:10px
}

.digiseller-prod-info {
padding-top:20px
}

.digiseller-prod-info h3 {
border-bottom:1px dashed #CCC;
color:#373737;
margin-bottom:8px;
padding-bottom:3px
}

.digiseller-product-details {
display:table;
width:100%
}

.digiseller-product-left {
display:table-cell;
vertical-align:top
}

.digiseller-product-right {
display:table-cell;
vertical-align:top;
width:99%;
padding-left:10px
}

.digiseller-discounttable1 {
margin-top:20px;
color:#373737;
border:1px solid #ccc;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px
}

.digiseller-discounttable1 td {
padding:2px 7px;
vertical-align:middle
}

.digiseller-discounttable1 tr td:nth-child(2) {
text-align:center
}

.digiseller-discounttable1 tr td:last-child {
text-align:right
}

.digiseller-discounttable1 tr:nth-child(2n) {
background:#f2f2f2
}

.digiseller-discounttable1 .digiseller-discounttabbe-head td {
font-weight:bold;
padding:6px 7px
}

.digiseller-discounttable2 ul {
list-style-type:none;
margin-top:7px;
color:#373737;
padding-left:0
}

.digiseller-discounttable2 td {
padding:2px 7px;
vertical-align:middle
}

.digiseller-discounttable2 span {
display:block;
font-weight:bold;
margin-top:15px;
color:#373737
}

.digiseller-prodinfoseparator {
height:10px
}

.digiseller-productdetails-tabs {
margin-top:30px
}

div.digiseller-productpage div.digiseller-options {
margin-top:10px
}

.digiseller-productdetails-tabs a {
-moz-border-radius-bottomleft:0;
-moz-border-radius-bottomright:0;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-bottom-left-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-top-left-radius:3px;
-webkit-border-top-right-radius:3px;
background:#F1EEE5;
border:1px solid #9a9a9a;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-left-radius:3px;
border-top-right-radius:3px;
color:#373737;
cursor:pointer;
display:inline-block;
margin-right:3px;
padding:5px 10px
}

a.digiseller-activeTab {
background:#fff;
border-bottom:1px solid #FFF!important;
font-weight:700
}

.digiseller-reviews_content {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:0;
-moz-border-radius-topright:3px;
-webkit-border-bottom-left-radius:3px;
-webkit-border-bottom-right-radius:3px;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:3px;
border:1px solid #9a9a9a;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:0;
border-top-right-radius:3px;
font-family:arial;
font-size:12px;
margin-top:-1px;
padding:0 10px;
margin-bottom:10px
}

.digiseller-reviews_content .digiseller-options {
margin-top:10px
}

.digiseller-description_content {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:0;
-moz-border-radius-topright:3px;
-webkit-border-bottom-left-radius:3px;
-webkit-border-bottom-right-radius:3px;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:3px;
border:1px solid #9a9a9a;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:0;
border-top-right-radius:3px;
font-family:arial;
font-size:12px;
margin-top:-1px;
padding:0 10px 10px;
margin-bottom:10px 0
}

.digiseller-left-thumbs {
font-size:0;
text-align:left;
display:inline-block;
width:261px
}

.digiseller-left-thumbs img {
border:2px solid #EBEBEB!important;
width:80px;
margin-top:10px
}

.digiseller-left-thumbs a {
display:inline-block;
padding-right:4px;
vertical-align:middle
}

.digiseller-left-thumbs a:nth-child(3n) {
padding-right:0!important
}

.digiseller-left-thumbs span {
display:none
}

.digiseller-videothumb img {
width:84px;
height:auto;
border:0 none!important
}

.digiseller-videothumb span {
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
-webkit-transition:all .2s ease;
background:url(//www.digiseller.ru/shop/img/play_icon.png) center center no-repeat;
display:block!important;
height:60px;
margin-top:-59px;
position:absolute;
transition:All .2s ease;
width:80px;
z-index:999
}

.digiseller-videothumb span:hover {
-moz-transform:scale(1.2) translate(1px);
-ms-transform:scale(1.2) translate(1px);
-o-transform:scale(1.2) translate(1px);
-webkit-transform:scale(1.2) translate(1px);
transform:scale(1.2) translate(1px)
}

.digiseller-grey {
color:#787878
}

.digiseller-labelaction {
background:#4CAF31;
color:#fff;
display:inline-block;
font-size:14px;
font-weight:700;
line-height:1.4em;
margin-top:0;
padding:0 7px;
vertical-align:top
}

.digiseller-labelnew {
background:#f8885b;
color:#fff;
display:inline-block;
font-size:14px;
font-weight:700;
line-height:1.4em;
margin-top:0;
padding:0 7px;
vertical-align:top
}

.digiseller-labellider {
background:#ff6681;
color:#fff;
display:inline-block;
font-size:14px;
font-weight:700;
line-height:1.4em;
margin-top:0;
padding:0 7px;
vertical-align:top
}

.digiseller-txtlnk {
color:#0B6678;
display:inline-block;
font-family:Tahoma,Arial;
font-size:13px;
line-height:1em;
padding:3px 0;
text-decoration:none
}

.digiseller-imglnk {
display:inline-block;
float:left;
padding-right:10px
}

.digiseller-breadcrumbs a:hover,.digiseller-category ul a:hover {
text-decoration:underline
}

.digiseller-category ul {
list-style-type:none;
padding:0
}

li.digiseller-category-active a,.digiseller-bold {
font-weight:700
}

li.digiseller-category-active li a {
font-weight:normal!important
}

.digiseller-pager-rows,.digiseller-right {
float:right
}

.digiseller-pager-rows span {
font-size:14px;
color:#373737
}

.digiseller-snapshot a {
text-decoration:none
}

.digiseller-paging {
margin-top:20px;
margin-bottom:10px;
font-family:tahoma, Arial
}

.digiseller-paging a {
font-family:tahoma, Arial;
-moz-border-radius:2px;
-webkit-border-radius:2px;
background:#0B6678;
border-radius:2px;
color:#fff;
display:inline-block;
font-size:12px;
height:18px;
line-height:18px;
text-align:center;
text-decoration:none;
min-width:12px;
padding:0 3px;
cursor:pointer
}

.digiseller-paging a.digiseller-activepage {
-moz-border-radius:2px;
-webkit-border-radius:2px;
background:#0a91c0;
border-radius:2px;
color:#fff;
display:inline-block;
font-size:12px;
height:18px;
line-height:18px;
text-align:center;
text-decoration:none;
min-width:12px;
padding:0 3px;
cursor:pointer
}

.digiseller-productList {
margin-bottom:10px
}

.digiseller-reviewList {
margin-bottom:10px
}

.digiseller-article-desc,.digiseller-prod-desc {
color:#373737;
display:block;
font-family:Arial;
font-size:13px;
line-height:1.2em;
margin:10px 0 0;
padding:0 10px 10px 0
}

.digiseller-category ul li {
list-style-type:none;
padding:0 0 0 20px
}

.digiseller-category > ul > li {
padding:0!important
}

.digiseller-category span {
color:#708787;
font-size:11px
}

.digiseller-review {
border-bottom:dashed 1px #ccc;
display:inline-block;
position:relative;
font-size:14px;
color:#565656;
padding:20px 10px 15px;
width:98%
}

.digiseller-review span {
display:inline-block
}

.digiseller-review span.digiseller-reviewdate {
color:#373737;
font-weight:bold;
padding-bottom:2px;
display:block;
font-size:11px
}

.digiseller-reviewcomment {
margin-top:4px;
margin-left:10px
}

.digiseller-reviewcomment span.digiseller-reviewcommentadmintxt {
display:inline-block;
padding:10px;
background:#f1eee5;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
font-size:14px
}

.digiseller-reviewcommentarrow {
color:#f1eee5;
display:block!important;
line-height:10px;
margin-left:30px
}

.digiseller-reviewList .digiseller-paging {
margin-left:10px
}

.digiseller-filtersort {
display:inline-block;
float:left;
line-height:27px;
margin-right:10px;
padding:5px 5px 5px 10px
}

.digiseller-reviewgood {
color:#FFF;
background:#78cf6e;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
width:16px;
height:16px;
margin-right:2px;
text-align:center;
font-weight:bold;
font-family:arial;
border:1px solid #FFF
}

.digiseller-reviewbad {
color:#FFF;
background:#ff7575;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
width:16px;
height:16px;
margin-right:2px;
text-align:center;
font-weight:bold;
border:1px solid #FFF;
font-family:Tahoma;
text-shadow:0 1px 0 #fff;
line-height:1em
}

.digiseller-contacts-block p {
color:#373737;
line-height:1.2em
}

.digiseller-contacts span.digiseller-contacts-label {
width:150px;
display:inline-block;
text-align:right;
padding:4px 0;
color:#373737
}

.digiseller-contacts .digiseller-breadcrumbs {
padding-top:0
}

.digiseller-contacts span.digiseller-contacts-value {
display:inline-block;
color:#333;
padding:4px 0;
padding-left:20px
}

.digiseller-contacts-value > img {vertical-align:top;}

.digiseller-contacts-block {
padding-top:30px
}

.digiseller-contacts-block a {
color:#0B6678;
text-decoration:none
}

.digiseller-contacts-block a:hover {
text-decoration:underline
}

.digiseller-social {
height:24px;
display:inline-block;
float:left;
margin-left:10px;
margin-top:7px;
font-size:0
}

a.digiseller-social-vk {
cursor:pointer;
display:inline-block;
width:24px;
height:24px;
margin-right:5px;
text-decoration:none;
background:url(//www.digiseller.ru/shop/img/vkontakte-24.png) top left no-repeat
}

a.digiseller-social-fb {
cursor:pointer;
display:inline-block;
width:24px;
height:24px;
margin-right:5px;
text-decoration:none;
background:url(//www.digiseller.ru/shop/img/facebook-24.png) top left no-repeat
}

a.digiseller-social-tw {
cursor:pointer;
display:inline-block;
width:24px;
height:24px;
margin-right:5px;
text-decoration:none;
background:url(//www.digiseller.ru/shop/img/twitter-24.png) top left no-repeat
}

a.digiseller-social-wm {
cursor:pointer;
display:inline-block;
width:24px;
height:24px;
margin-right:5px;
text-decoration:none;
background:url(//www.digiseller.ru/shop/img/webmoney-24.png) top left no-repeat
}

.digiseller-bold {
color:#373737
}

.digiseller-hidden {
display:none!important
}

.digiseller-both {
clear:both
}