<!--div class="digiseller-product">
	<div class="digiseller-pricelabel">
		<span class="digiseller-article-cost"><? if (d.collection == 'unit') { ?> <span>от</span> <? } ?> <?= d.price ?></span>
		<span class="digiseller-currency"><?= d.currency ?></span>
		<? if (d.is_available) { ?>
			<a class="digiseller-buyButton" data-action="buy" data-id="<?= d.id ?>" data-ai="<?= d.agency_id ?>"><?= DS.opts.i18n['buy'] ?></a>
		<? } else { ?>
			<a class="digiseller-buyButton-empty"><?= DS.opts.i18n['notAvailable'] ?></a>
		<? } ?>
	</div>

	<div class="digiseller-article-img" style="width:<?= 17 + imgsize ?>px;">
		<a onclick="location.hash='<?= url ?>';">
			<img src="//graph.digiseller.ru/img.ashx?id_d=<?= d.cntImg != 0 ? d.id : 1 ?>&maxlength=<?= imgsize ?>" alt="" />
		</a>
	</div>

	<div class="digiseller-browseProdTitle">
		<a onclick="location.hash='<?= url ?>'"><?= d.name ?>&nbsp;
			<? switch(d.label) {
				case 'top': ?>
					<span class="digiseller-labellider"><?= DS.opts.i18n['leader!'] ?></span>
					<? break;
				case 'sale': ?>
					<span class="digiseller-labelaction"><?= DS.opts.i18n['action!'] ?></span>
					<? break;
				case 'new': ?>
					<span class="digiseller-labelnew"><?= DS.opts.i18n['new!'] ?></span>
					<? break;
			} ?>
		</a>
		<p>
			<span class="digiseller-descr-underbutton"></span>
			<?= d.info ?>
			<br /><br />
			<a onclick="location.hash='<?= url ?>';" class="digiseller-product-details" title="<?= d.name ?>"><?= DS.opts.i18n['readMore'] ?> »</a>
		</p>
	</div>
</div-->



<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<div class="digiseller-clearfix digiseller-wrapper-product">
		<? switch(d.label) {
			case 'top': ?>
				<span class="digiseller-lider digiseller-vitrinaicon"><?= DS.opts.i18n['leader!'] ?></span>
				<? break;
			case 'sale': ?>
				<span class="digiseller-action digiseller-vitrinaicon"><?= DS.opts.i18n['action!'] ?></span>
				<? break;
			case 'new': ?>
				<span class="digiseller-newproduct digiseller-vitrinaicon"><?= DS.opts.i18n['new!'] ?></span>
				<? break;
		} ?>
	
		<div class="digiseller-large-3 digiseller-medium-3 digiseller-small-12 digiseller-columns digiseller-wrapper-img">
			<a onclick="location.hash='<?= url ?>';">
				<img src="//graph.digiseller.ru/img.ashx?id_d=<?= d.cntImg != 0 ? d.id : 1 ?>&maxlength=<?= imgsize ?>" alt="" />
			</a>
		</div>
		<div class="digiseller-large-9 digiseller-medium-9 digiseller-small-12 digiseller-columns digiseller-wrapper-img">	
			<p class="digiseller-description-category"><a onclick="location.hash='<?= url ?>';"><?= d.name ?></a></p>
			<p class="digiseller-description-price"><a onclick="location.hash='<?= url ?>';"><? if (d.collection == 'unit') { ?> <span>от</span> <? } ?> <?= d.price ?> <span><?= d.currency ?></span></a></p>
			
			<p><?= d.info ?></p>
			
			<? if (d.is_available) { ?>
				<a class="digiseller-description-buyButton-spisok" data-action="buy" data-id="<?= d.id ?>" data-ai="<?= d.agency_id ?>"><?= DS.opts.i18n['buy'] ?></a>
			<? } else { ?>
				<a class="digiseller-description-buyButton-empty"><?= DS.opts.i18n['notAvailable'] ?></a>
			<? } ?>
		</div>
	</div>
</div>