<div class="digiseller-large-<?= DS.opts.orient === 'h' ? '3' : '4' ?> digiseller-medium-6 digiseller-small-6 digiseller-columns">
	<div class="digiseller-clearfix digiseller-wrapper-product">
		<? switch(d.label) {
			case 'top': ?>
				<span class="digiseller-lider digiseller-vitrinaicon"><?= DS.opts.i18n['leader!'] ?></span>
				<? break;
			case 'sale': ?>
				<span class="digiseller-action digiseller-vitrinaicon"><?= DS.opts.i18n['action!'] ?></span>
				<? break;
			case 'new': ?>
				<span class="digiseller-newproduct digiseller-vitrinaicon"><?= DS.opts.i18n['new!'] ?></span>
				<? break;
		} ?>
	
		<div class="digiseller-wrapper-img">
			<a onclick="location.hash='<?= url ?>';">				
				<img src="//graph.digiseller.ru/img.ashx?id_d=<?= d.cntImg != 0 ? d.id : 1 ?>&maxlength=<?= imgsize ?>" alt="" />&nbsp;		
			</a>
			
			<p class="digiseller-description-category">
				<a onclick="location.hash='<?= url ?>';" title="<?= d.name ?>"><?= d.name ?></a>
			</p>
			
			<p class="digiseller-description-price">
				<a onclick="location.hash='<?= url ?>';"><?= d.price ?> <span><?= d.currency ?></span></a>
			</p>

			<? if (d.is_available) { ?>
				<p class="digiseller-description-buyButton">
					<a data-action="buy" data-id="<?= d.id ?>" data-ai="<?= d.agency_id ?>"><?= DS.opts.i18n['buy'] ?></a>
				</p>
			<? } else { ?>
				<p class="digiseller-description-buyButton-empty">
					<a><?= DS.opts.i18n['notAvailable'] ?></a>
				</p>
			<? } ?>
		</div>
	</div>
</div>