<? var mainImg = d.preview_imgs && d.preview_imgs[0] ? d.preview_imgs[0].url : '' ?>
<? var reviewsCount = parseInt(d.statistics.good_reviews) + parseInt(d.statistics.bad_reviews); ?>
<? var price = (d.collection == 'unit' ? 'от ' : '') + d.price + ' ' + d.currency ?>

<img src="//shop.digiseller.ru/xml/shop_views.asp?idd=<?= d.id ?>&ids=<?= DS.opts.seller_id ?>" width="0" height="0" />

<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<h2 class="digiseller-name-product"><?= d.name ?></h2>	
</div>

<section class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<ul class="digiseller-breadcrumbs digiseller-breadcrumbs-arrow">
	  <div class="digiseller-large-9 digiseller-medium-9 digiseller-small-9 digiseller-columns">
		<li><a title="<?= DS.opts.i18n['shop'] ?>" onclick="location.hash='#!digiseller/home';"><?= DS.opts.i18n['shop'] ?></a></li>
		<? if (d.breadCrumbs) {
			for (var i = 0, l = d.breadCrumbs.length; i < l; i++) { ?>
				<li><a title="<?= d.breadCrumbs[i].name ?>" onclick="location.hash='#!digiseller/articles/<?= d.breadCrumbs[i].id ?>';"><?= d.breadCrumbs[i].name ?></a></li>
			<? } ?>
		<? } ?>
	  </div>
	  <div class="digiseller-large-3 digiseller-medium-3 digiseller-small-3 digiseller-columns">	
		<? if (d.id_next !== '0' || d.id_prev !== '0') { ?>
			<a class="digiseller-prev-next digiseller-next <?= (d.id_next !== '0' ? '' : 'digiseller-next-disabled') ?>" <?= (d.id_next !== '0' ? ' onclick="location.hash=\\'#!digiseller/detail/' + d.id_next + '\\'"' : '') ?> title="<?= DS.opts.i18n['prevArticle'] ?>" data-next="1"></a>
			<a class="digiseller-prev-next digiseller-prev <?= (d.id_prev !== '0' ? '' : 'digiseller-next-disabled') ?>" <?= (d.id_prev !== '0' ? ' onclick="location.hash=\\'#!digiseller/detail/' + d.id_prev + '\\'"' : '') ?> title="<?= DS.opts.i18n['nextArticle'] ?>"></a>
		<? } ?>
	  </div>					  					
	</ul>
</section>
		
<section class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<aside id="digiseller-article-buy-context" class="digiseller-calc digiseller-hide-for-small digiseller-medium-5 digiseller-small-12 digiseller-columns <?= DS.opts.orient === 'g' ? 'digiseller-large-5 digiseller-large-offset-2 digiseller-medium-offset-2' : 'digiseller-large-4' ?>"></aside>			

	<? if (mainImg) {
		var imgSize = parseInt(DS.opts.imgsize_infopage) + 20; ?>
		
		<a id="digiseller-article-img-preview" class="digiseller-product" href="<?= mainImg ?>" target="_blank" data-type="img" data-index="0" >
			<img alt="product" src="//graph.digiseller.ru/img.ashx?idp=<?= d.preview_imgs[0].id ?>&maxlength=<?= DS.opts.imgsize_infopage ?>" alt="<?= name ?>" />
		</a>
	<? } else { ?>
		<img src="//graph.digiseller.ru/img.ashx?id_d=1&maxlength=<?= DS.opts.imgsize_infopage ?>" alt="<?= d.name ?>" />
	<? } ?>
			
	<? if (d.preview_imgs || d.preview_videos) { ?>
		<div id="digiseller-article-thumbs" class="digiseller-prockrutka">					
			<? if (thCount > 4) { ?>
				<div id="digiseller-photo-next" style="cursor: pointer;" class="digiseller-more-views-arrow digiseller-next" data-next="1">&nbsp;</div>
				<div id="digiseller-photo-prev" style="cursor: pointer;" class="digiseller-more-views-arrow digiseller-prev">&nbsp;</div>
			<? } ?>

			<div  id="digiseller-thumbs-wrapper" data-count="<?= thCount ?>">
				<ul id="digiseller-thumbs-slider" style="position:relative;" class="digiseller-inline-list digiseller-details-product digiseller-details-product-g">	
					
					<? if (d.preview_imgs) { ?>							
						<? var index = 0;
						
						DS.util.each(d.preview_imgs, function(preview_img, i) { ?>
							<li class="digiseller-large-2 digiseller-medium-2 digiseller-small-2 digiseller-columns" <?=  d.preview_imgs.length == 1 ? 'style="display:none;"' : '' ?>>
								<a href="<?= preview_img.url ?>" data-type="img" data-index="<?= index ?>" data-id="<?= preview_img.id ?>">
									<img src="//graph.digiseller.ru/img.ashx?idp=<?= preview_img.id ?>&maxlength=44&crop=1" alt="" />
								</a>
							</li>
							
							<? index++;
						}); ?>							
					<? } ?>
					
					<? if (d.preview_videos) { ?>							
						<? DS.util.each(d.preview_videos, function(preview_video, i) { ?>
							<li class="digiseller-large-2 digiseller-medium-2 digiseller-small-2 digiseller-columns">
								<a class="digiseller-video" data-id="<?= preview_video.id ?>" data-type="<?= preview_video.type ?>" data-index="<?= index ?>">
									<img src="<?= preview_video.preview ?>" alt="" />									
								</a>
							</li>
							
							<? index++;
						}); ?>
					<? } ?>
					
				</ul>
			</div>
		</div>
	<? } ?>
			
	<aside id="digiseller-article-buy-context" class="digiseller-calc-show-for-small digiseller-show-for-small digiseller-large-5 digiseller-medium-5 digiseller-small-12 digiseller-large-offset-2 digiseller-medium-offset-2 digiseller-columns"></aside>			
			
	<div class="digiseller-product-buy">
		<?= d.info ?>
	</div>
		
	<? if (d.add_info !== "") { ?>	
		<div class="digiseller-product-buy">					
			<h3><?= DS.opts.i18n['addInformation'] ?>:</h3>
			<?= d.add_info ?>					
		</div>
	<? } ?>

</section>

<? if (templHasDiscounts || reviewsCount) { ?>
	<section class="digiseller-description digiseller-row">
		<ul id="digiseller-tabs" class="digiseller-tabs digiseller-large-12 digiseller-medium-12 digiseller-small-12">
			<? if (templHasDiscounts) { ?>
				<li class="digiseller-tab-title digiseller-large-4 digiseller-medium-4 digiseller-small-4 digiseller-active">
					<a tabindex="0" data-action="article-tab" data-tab="0"><?= DS.opts.i18n['discounts'] ?></a>
				</li>
			<? } ?>

			<? if (reviewsCount) { ?>
				<li class="digiseller-tab-title digiseller-large-4 digiseller-medium-4 digiseller-small-4 <?= !templHasDiscounts ? 'digiseller-active' : '' ?>">
					<a tabindex="0"  data-action="article-tab" data-tab="1"><?= DS.opts.i18n['reviews'] ?></a>
				</li>
			<? } ?>
		</ul>

		<div id="digiseller-tabs-panels" class="digiseller-tabs-content">
			<? if (templHasDiscounts) { ?>
				<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns digiseller-content digiseller-active">
					<? if ((d.units && d.units.discounts) || (d.discounts && d.discounts.length)) { ?>					
						<? if (d.units && d.units.discounts) { ?>
							<p class="digiseller-sale-par"><?= DS.opts.i18n['discountsOnQuantityPurchases'] ?></p>
							
							<table class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
								<thead>
									<tr class="digiseller-discounttabbe-head">	
										<td><?= DS.opts.i18n['whenBuyingFrom'] ?></td>
										<td><?= DS.opts.i18n['discount'] ?></td>
										<td><?= DS.opts.i18n['priceFor'] ?> <?= d.units.desc ?></td>
									</tr>
								</thead>
								<tbody>
									<? DS.util.each(d.units.discounts, function(discount, i) { ?>
										<tr>
											<td><?= discount.desc ?></td>
											<td><?= discount.percent ?>%</td>
											<td><?= discount.price ?> <?= d.currency ?></td>
										</tr>
									<? }); ?>
								</tbody>
							</table><br />
						<? } ?> 
					
						<? if (d.discounts && d.discounts.length) { ?>
							<p class="digiseller-sale-par"><?= DS.opts.i18n['discountLoyalCustomers'] ?></p>
							
							<table class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
								<thead>
									<tr class="digiseller-discounttabbe-head">	
										<td><?= DS.opts.i18n['amountOfPurchasesFrom'] ?></td>
										<td><?= DS.opts.i18n['discount'] ?></td>
									</tr>
								</thead>
								<tbody>
									<? DS.util.each(d.discounts, function(discount, i) { ?>
										<tr>
											<td><?= discount.summa ?> <?= d.currency ?></td>
											<td><?= discount.percent ?>%</td>
										</tr>
									<? }); ?>
								</tbody>
							</table><br />
						<? } ?> 
					<? } ?>
					
				</div>
			<? } else { ?>
				<div class="digiseller-hidden"></div>
			<? } ?>
			
			<? if (reviewsCount) { ?>
				<div id="digiseller-article-comments-<?= d.id ?>" class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns digiseller-content <?= !templHasDiscounts ? 'digiseller-active' : '' ?>"></div>
			<? } ?>
		</div>
	</section>
<? } ?>