<? if (DS.opts.orient === 'g') { ?>
	<header id="digiseller-header" class="digiseller-row header-gorizontal">
		<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns <?= !cart ? 'digiseller-basket-box-miss' : '' ?> <?= !purchases ? 'digiseller-packet-box-miss' : '' ?> <?= !langs ? 'digiseller-langs-box-miss' : '' ?>">
			<? if (logo) { ?>
				<div id="digiseller-logo" class="digiseller-logo digiseller-large-3 digiseller-medium-3 digiseller-small-12 digiseller-columns digiseller-hide-for-small digiseller-hide-for-medium"></div>
			<? } ?>
			
			<? if (hasCat) { ?>
				<nav class="digiseller-top-bar digiseller-hide-for-large">
					<ul>
						<li class="digiseller-menu-icon"><a data-action="menu" id="digiseller-category-dup-show"></a></li>
					</ul>
					
					<!--section id="digiseller-category-dup" class="digiseller-top-bar-section"></section-->
				</nav>
			<? } ?>
			
			<? if (langs) { ?>
				<div id="digiseller-langs" class="digiseller-right digiseller-langs-box digiseller-large-1 digiseller-medium-1 digiseller-small-2 digiseller-columns"></div>
			<? } ?>
			
			<? if (purchases) { ?>				
				<div class="digiseller-right digiseller-packet-box digiseller-large-1 digiseller-medium-1 digiseller-small-2 digiseller-columns">
					<a href="https://www.oplata.info/"><span><button class="digiseller-button-packet" href="#"></button></span></a>
				</div>
			<? } ?>
			
			<? if (cart) { ?>
				<div id="digiseller-cart-btn" class="digiseller-right digiseller-basket-box-wrapper digiseller-large-1 digiseller-medium-1 digiseller-small-2 digiseller-columns"></div>
			<? } ?>
			
			<? if (search) { ?>
				<div id="digiseller-search" class="digiseller-right digiseller-search-box digiseller-large-3 digiseller-medium-5 digiseller-small-1 digiseller-columns"></div>
			<? } ?>
		</div>
	</header>	

	<? if (hasCat) { ?>
		<div class="digiseller-row">
			<nav class="digiseller-top-bar digiseller-hide-for-medium digiseller-hide-for-small">
				<!--ul>
					<li class="digiseller-menu-icon"><a data-action="menu"></a></li>
				</ul-->
				
				<section id="digiseller-category-g"></section>
			</nav>
		</div>
	<? } ?>
	
	<main>
		<div id="digiseller-main" class="digiseller-row digiseller-product-row-g">
			<div style="text-align:center;"><img src="http://www.digiseller.ru/shop/img/preloader.gif" alt="Загрузка..." /></div>
		</div>
	</main>
	
	<footer <?= downmenu ? 'id="digiseller-downmenu"' : '' ?> class="digiseller-row"></footer>
	
<? } else { ?>

	<header id="digiseller-header" class="digiseller-row">
		<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns <?= !cart ? 'digiseller-basket-box-miss' : '' ?> <?= !purchases ? 'digiseller-packet-box-miss' : '' ?> <?= !langs ? 'digiseller-langs-box-miss' : '' ?>">
			<? if (logo) { ?>
				<div id="digiseller-logo" class="digiseller-logo digiseller-large-3 digiseller-medium-3 digiseller-small-12 digiseller-columns digiseller-hide-for-small digiseller-hide-for-medium"></div>
			<? } ?>
			
			<nav class="digiseller-top-bar digiseller-hide-for-large digiseller-imploded">
				<ul>
					<li class="digiseller-menu-icon"><a data-action="menu" id="digiseller-category-dup-show"></a></li>
				</ul>
				
				<!--section id="digiseller-category-dup" class="digiseller-top-bar-section"></section-->
			</nav>
			
			<? if (langs) { ?>
				<div id="digiseller-langs" class="digiseller-right digiseller-langs-box digiseller-large-1 digiseller-medium-1 digiseller-small-2 digiseller-columns"></div>
			<? } ?>
			
			<? if (purchases) { ?>
				<div class="digiseller-right digiseller-packet-box digiseller-large-1 digiseller-medium-1 digiseller-small-2 digiseller-columns">
					<a href="https://www.oplata.info/"><span><button class="digiseller-button-packet" href="#"></button></span></a>
				</div>
			<? } ?>

			<? if (cart) { ?>
				<div id="digiseller-cart-btn" class="digiseller-right digiseller-basket-box-wrapper digiseller-large-1 digiseller-medium-1 digiseller-small-2 digiseller-columns"></div>
			<? } ?>
			
			<? if (search) { ?>
				<div id="digiseller-search" class="digiseller-right digiseller-search-box digiseller-large-3 digiseller-medium-5 digiseller-small-1 digiseller-columns"></div>
			<? } ?>
			
		</div>
	</header>
	
	<!--nav class="digiseller-top-bar digiseller-hide-for-small digiseller-hide-for-large digiseller-nav digiseller-imploded">
		<ul>
			<li class="digiseller-menu-icon"><a data-action="menu"></a></li>
		</ul>

		<section id="digiseller-category-g" class="digiseller-top-bar-section"></section>
	</nav-->
	
	<main>
		<section class="digiseller-row">
			<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
				<aside class="digiseller-large-3 digiseller-medium-3 digiseller-small-12 digiseller-columns digiseller-hide-for-medium digiseller-hide-for-small">
					<nav class="digiseller-top-bar digiseller-side-nav digiseller-hide-for-medium digiseller-hide-for-small">
						<section id="digiseller-category"></section>
					</nav>
				</aside>
				<div id="digiseller-main" class="digiseller-large-9 digiseller-medium-12 digiseller-small-12 digiseller-columns">
					<div style="text-align:center;"><img src="http://www.digiseller.ru/shop/img/preloader.gif" alt="..." /></div>
				</div>
			</div>
		</section>
	</main>
		
	<footer <?= downmenu ? 'id="digiseller-downmenu"' : '' ?> class="digiseller-row"></footer>

<? } ?>