<!--tr id="digiseller-cart-item-<?= d.item_id ?>"<?= d.error ? ' class="digiseller-cart-error" ' : '' ?>>
	<td>
		<? if (d.options) { ?>
			<a class="digiseller-cart-params-toggle">12</a>
		<? } ?>
		
		<div><a href="#!digiseller/detail/<?= d.id ?>"><?= d.name ?></a></div>
		
		<? if (d.options) { ?>
			<div class="digiseller-cart-row-param">
				<? DS.util.each(d.options, function(option) {  ?>
					<strong><?= option.name ?>: </strong>				

					<? DS.util.each(option.variant, function(variant, i) {  ?>
						<?= variant.data ?><?= variant.modify ? ' (' + variant.modify + ')' : '' ?>
						<?= option.variant.length - 1 === i ? '' : ', ' ?>
					<? }) ?>	
					<br />
				<? }) ?>
			</div>
		<? } ?>
	</td>
	<td class="digiseller-cart-price">
		<span id="digiseller-cart-item-cost-<?= d.item_id ?>"><?= d.price ?></span> <?= d.currency ?>
	</td>
	<td>
		<input type="number" min="1" step="1" value="<?= d.cnt_item ?>" id="digiseller-cart-item-count-<?= d.item_id ?>" data-id="<?= d.item_id ?>"<?= d.cnt_lock == 1 ? ' disabled="disabled"' : '' ?> />
	</td>
	<td>
		<a target="_blank" class="digiseller-cart-del-product" href="#" data-id="<?= d.item_id ?>">x</a>
	</td>
</tr>
<tr class="digiseller-cart-error<?= d.error ? '' : ' digiseller-hidden' ?>" id="digiseller-cart-item-error-<?= d.item_id ?>"> 
	<td colspan="4">
		<?= d.error || '' ?>
	</td>
</tr-->


<table class="<?= d.error ? 'digiseller-not-available' : '' ?> digiseller-table digiseller-bag-table digiseller-medium-12 digiseller-small-12 digiseller-columns" id="digiseller-cart-item-<?= d.item_id ?>">
	<tbody class="digiseller-table">
		<tr>
			<td class="digiseller-large-6 digiseller-medium-6 digiseller-small-12 digiseller-columns">				
				<? if (d.options) { ?>
					<a class="digiseller-cart-params-toggle">12</a>
				<? } ?>
				
				<p class="digiseller-description-category"><a href="#!digiseller/detail/<?= d.id ?>"><?= d.name ?></a></p>
				
				<? if (d.options) { ?>
					<div class="digiseller-cart-row-param">
						<? DS.util.each(d.options, function(option) {  ?>
							<strong><?= option.name ?>: </strong>				

							<? DS.util.each(option.variant, function(variant, i) {  ?>
								<?= variant.data ?><?= variant.modify ? ' (' + variant.modify + ')' : '' ?>
								<?= option.variant.length - 1 === i ? '' : ', ' ?>
							<? }) ?>	
							<br />
						<? }) ?>
					</div>
				<? } ?>
				
				<p class="digiseller-not-available-item <?= d.error ? '' : 'digiseller-hidden' ?>" id="digiseller-cart-item-error-<?= d.item_id ?>"><?= d.error ?></p>
			</td>
			<td class="digiseller-large-2 digiseller-medium-2 digiseller-small-12 digiseller-columns">									
				<p class="digiseller-description-price">
					<a id="digiseller-cart-item-cost-<?= d.item_id ?>"><?= d.price ?> <span><?= d.currency ?></span></a>
				</p>							
			</td>
			<td class="digiseller-large-2 digiseller-medium-2 digiseller-small-12 digiseller-columns">									
				<input type="number" min="1" step="1" value="<?= d.cnt_item ?>" id="digiseller-cart-item-count-<?= d.item_id ?>" data-id="<?= d.item_id ?>"<?= d.cnt_lock == 1 ? ' disabled="disabled"' : '' ?> />						
			</td>
			<td class="digiseller-large-2 digiseller-medium-2 digiseller-small-12 digiseller-columns">									
				<div class="digiseller-delete-bag-wrapper">
					<a class="digiseller-delete-bag" target="_blank" href="#" data-id="<?= d.item_id ?>"></a>				
				</div>	
			</td>
		</tr>
	</tbody>
</table>