<div id="digiseller-off-menu" class="digiseller-row digiseller-hidden">
	<aside class="digiseller-left-off-canvas-menu" style="display: block;">	
		<nav class="digiseller-top-bar digiseller-hide-for-large digiseller-expanded">
			<section id="digiseller-category-dup"></section>
		</nav>
	</aside>
	<div id="digiseller-off-menu-fade" class="digiseller-reveal-modal-bg" style="display: block;"></div>
</div>