<li id="<?= id ?>"<?= sub ? ' class="digiseller-hmenu-withsub"' : '' ?>>
	<a title="<?= d.name ?>" data-action="gocat" data-cid="<?= d.id ?>">
		<?= d.name ?><!--span>&nbsp;&nbsp;(<?= d.cnt ?>)</span-->
	</a>
	<?= sub ?>
</li>

