<li id="<?= id ?>"<?= sub ? ' class="digiseller-hmenu-withsub"' : '' ?>>
	<a onclick="location.hash='<?= url ?>';" title="<?= d.name ?>">
		<?= d.name ?><!--span>&nbsp;&nbsp;(<?= d.cnt ?>)</span-->
	</a>
	<?= sub ?>
</li>

