<ul class="digiseller-pricing-table digiseller-pricing-table-negative">
	<li class="digiseller-bullet-item"><strong><?= d.date ?></strong></li>
	<li class="digiseller-bullet-item">
		<?= (d.type == "good" ? '<span class="digiseller-reviewgood">+</span>' : '<span class="digiseller-reviewbad">-</span>') ?>
		<?= d.info ?>
	</li>
	
	<? if (d.comment !== '') { ?>
		<li class="digiseller-bullet-item digiseller-comment-admin"><strong><?= DS.opts.i18n['adminComment'] ?>:</strong><span class="digiseller-reviewcommentarrow">^</span><?= d.comment ?></li>
	<? } ?>
</ul>