<div class="digiseller-sortby digiseller-tabs-content-reviews digiseller-clearfix">
	<span><?= DS.opts.i18n['show'] ?>: </span>
	<select>
		<option value="all"><?= DS.opts.i18n['allReviews'] ?></option>
		<option value="good"><?= DS.opts.i18n['positive'] ?> (<?= totalGood ?>)</option>
		<option value="bad"><?= DS.opts.i18n['negative'] ?> (<?= totalBad ?>)</option>
	</select>
</div>

<div class="digiseller-js-comments"></div>

<div class="digiseller-js-paging"></div>