<section class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<ul class="digiseller-breadcrumbs">
	  <div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		  <li><a onclick="location.hash='#!digiseller/home';"><?= DS.opts.i18n['shop'] ?></a></li>
		  <li class="digiseller-current"><a><?= DS.opts.i18n['contactInfo'] ?></a></li>
	  </div>					  					
	</ul>
</section>

<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		<h2 class="digiseller-concats-title"><?= DS.opts.i18n['contactInfo'] ?></h2>
		<ul class="digiseller-concats">
			<? if (d.phone) { ?>
				<li><span class="digiseller-value"><?= DS.opts.i18n['phone'] ?>:</span> <?= d.phone ?></li>
			<? } 
			if (d.icq) { ?>
				<li><span class="digiseller-value">ICQ:</span> <?= d.icq ?></li>
			<? }
			if (d.skype) { ?>
				<li><span class="digiseller-value">Skype:</span> <a href="skype:<?= d.skype ?>?chat"><?= d.skype ?></a></li>
			<? }
			if (d.wmid) { ?>
				<li><span class="digiseller-value">wmid:</span> <a href="//events.webmoney.ru/user.aspx?<?= d.wmid ?>"><?= d.wmid ?></a></li>
			<? }
			if (d.email) { ?>
				<li><span class="digiseller-value">E-mail:</span> <a href="mailto:<?= d.email ?>"><?= d.email ?></a></li>
			<? } ?>
			<li><?= d.comment ?></li>
		</ul>			
	</div>
</div>