<nav class="digiseller-inline-list digiseller-nav-exp digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<ul class="digiseller-inline-list digiseller-nav-exp digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		<li class="digiseller-large-4 digiseller-medium-4 digiseller-small-1 digiseller-columns"><a href="">&nbsp;</a></li>
		
		<? if (DS.opts.menu_purchases) { ?>
			<!--li class="digiseller-large-2 digiseller-medium-2 digiseller-small-5 digiseller-columns"><a href=""><?= DS.opts.i18n['myPurchases'] ?></a></li-->
		<? }
		if (DS.opts.menu_reviews) { ?>
			<li class="digiseller-large-2 digiseller-medium-2 digiseller-small-5 digiseller-columns"><a onclick="location.hash='#!digiseller/reviews';"><?= DS.opts.i18n['customerReviews'] ?></a></li>
		<? }
		if (DS.opts.menu_contacts) { ?>
			<li class="digiseller-large-2 digiseller-medium-2 digiseller-small-5 digiseller-columns"><a onclick="location.hash='#!digiseller/contacts';"><?= DS.opts.i18n['contacts'] ?></a></li>
		<? } ?>
		
		<li class="digiseller-large-4 digiseller-medium-4 digiseller-small-1 digiseller-columns"><a href="">&nbsp;</a></li>			
	</ul>
</nav>	