
	<div class="digiseller-sortby digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		<div class="digiseller-large-9 digiseller-medium-8 digiseller-small-12 digiseller-columns">
			<ul class="digiseller-pagination">
				<?= out ?>
			</ul>
		</div>	
		<div class="digiseller-large-2 digiseller-medium-3 digiseller-small-5 digiseller-columns digiseller-on-page">
			<span><?= DS.opts.i18n['displayedOnThePage'] ?>:</span>
		</div>
		<div class="digiseller-large-1 digiseller-medium-1 digiseller-small-3 digiseller-columns digiseller-on-page-select">	
			<select>
				<option value="10">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</div>
	</div>	
