<a class="digiseller-popup-img-prev" id="digiseller-popup-left"></a>
<a class="digiseller-popup-img-next" id="digiseller-popup-right"></a>

<div class="digiseller-popup-img" id="digiseller-popup-img"></div>