<div id="<?= p ?>main">
	<div id="<?= p ?>fade"></div>
	<div id="<?= p ?>loader">&nbsp</div>
	<div id="<?= p ?>container">
		<a href="#" id="<?= p ?>close">X</a>
		<div id="<?= p ?>img"></div>
		<br />
		<div class="digiseller-calc-center">
			<a id="<?= p ?>left"></a>&nbsp;&nbsp;&nbsp;
			<a id="<?= p ?>right"></a>
		</div>
	</div>
</div>'