<div class="digiseller-popup-main" id="<?= p ?>main">
	<div class="digiseller-reveal-modal-bg" id="<?= p ?>fade"></div>
	<div class="digiseller-reveal-modal">
		<div id="<?= p ?>container">
			<a class="digiseller-popup-img-prev" id="<?= p ?>left"></a>
			<a class="digiseller-popup-img-next" id="<?= p ?>right"></a>
			
			<div class="digiseller-popup-img" id="<?= p ?>img"></div>
		</div>
		
		<a class="digiseller-close-reveal-modal" href="#" id="<?= p ?>close">X</a>
	</div>
	<div class="digiseller-loader digiseller-hidden" id="<?= p ?>loader">
		<img src="./img/loading.gif" />
	</div>
</div>