<form>
  <div class="digiseller-row">
	<div class="digiseller-large-12 digiseller-columns">
	  <div class="digiseller-row digiseller-collapse">
		<div class="digiseller-search-item digiseller-small-10 digiseller-columns">
		  <input type="text" placeholder="">
		</div>
		<div class="digiseller-large-2 digiseller-medium-2 digiseller-small-12 digiseller-columns">
		  <input type="submit" value="" class="digiseller-button digiseller-postfix">
		</div>
	  </div>
	</div>
  </div>
</form>