<div style="display:none;"><img src="//shop.digiseller.ru/xml/shop_views.asp?idd=0&ids=<?= DS.opts.seller_id ?>" width="0" height="0" /></div>

<? if (categories && categories.length) { ?>
	<div class="digiseller-row digiseller-category-row">
		<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
			<? DS.util.each(categories, function(category) { ?>
				<div class="digiseller-wrapper-category digiseller-large-<?= DS.opts.orient === 'h' ? '3' : '4' ?> digiseller-medium-<?= DS.opts.orient === 'h' ? '3' : '4' ?> digiseller-small-6 digiseller-columns">
					<div class="digiseller-wrapper-img">
						<a onclick="location.hash='<?= DS.opts.hashPrefix ?>/articles/<?= category.id ?>';">
							<img src="//graph.digiseller.ru/img.ashx?idn=<?= category.hasImg == 1 ? category.id : 1?>&maxlength=<?= DS.opts.imgsize_category ?>" alt="<?= name ?>" />
						</a>
						
						<p class="digiseller-description-category">
							<a onclick="location.hash='<?= DS.opts.hashPrefix ?>/articles/<?= category.id ?>';"><?= category.name ?></a>
						</p>
					</div>
				</div>
			<? }); ?>
		</div>
	</div>
<? } ?>

<div class="digiseller-row digiseller-product-row">
	<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		<?= (out ? out : (categories && categories.length ? '' : DS.opts.i18n['articlesNotFound'])) ?>
	</div>
</div>