<section class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<ul class="digiseller-breadcrumbs">
	  <div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		  <li><a onclick="location.hash='#!digiseller/home';"><?= DS.opts.i18n['shop'] ?></a></li>
		  <li class="digiseller-current"><a><?= header ?></a></li>
	  </div>					  					
	</ul>
</section>

<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
	<div class="digiseller-large-12 digiseller-medium-12 digiseller-small-12 digiseller-columns">
		<h2 class="digiseller-concats-title"><?= header ?></h2>
		
		<?= info ?>			
	</div>
</div>