<iframe src="<?= (type === 'youtube' ? '//www.youtube.com/embed/' : '//player.vimeo.com/video/') ?><?= id ?>?autoplay=1&wmode=opaque&origin=http://172.16.101.18&api=1" width="500" height="305" frameborder="0" allowfullscreen=""/>